@layer ui {
	.contain {
		display: flex;
		flex: 0 1 auto;

		&:not(.fullWidth) {
			max-width: var(--control-width);
		}
	}

	.helperText {
		width: fit-content;
	}

	.adornment {
		display: flex;
		place-content: center;
		place-items: center;
		flex: 0 0 auto;

		background-color: var(--mauve-3);
		border-top-left-radius: var(--radius);
		border-bottom-left-radius: var(--radius);
		border: 1px solid var(--mauve-6);
		border-right: none;
	}

	.hasAdornment {
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}
}
