@layer feature {
	.root {
		scroll-margin-top: var(--app-inset);
	}

	.intro {
		grid-template-rows: auto 1fr;
	}

	.steps {
		display: grid;
		gap: var(--space-3) var(--gap--large);
		width: fit-content;
		max-width: 100%;

		@container (width > 700px) {
			grid-template-columns: repeat(3, minmax(0, 1fr));
		}
	}

	.review {
		display: grid;
		justify-content: center;
		align-items: start;
		gap: var(--gap--large);
		grid-template-columns: minmax(0, var(--recipe-preview-width));

		@container (width > 900px) {
			grid-template-columns: repeat(2, var(--recipe-preview-width));
		}
	}

	.source {
		grid-column: 1 / -1;
	}

	.editor {
		@container (width > 900px) {
			position: sticky;
			top: var(--gap);
		}
	}
}
