@layer composition {
	.background {
		overflow: hidden;
		position: absolute;
		inset: 0;
		background-color: var(--iris-4);
	}

	.bg {
		position: absolute;
		filter: blur(60px);
		opacity: 0.75;
		pointer-events: none;
	}

	.back,
	.front {
		border-radius: 50%;
		animation: aura 30s linear infinite;
		transform: rotate(0) translate(20%) rotate(0);
	}

	.back {
		width: 250%;
		height: 100%;
		background-color: var(--iris-9);
		left: -25%;
		top: -25%;
	}

	.middle {
		height: 70%;
		bottom: -20%;
		inset-inline: -20%;
		background-color: var(--iris-9);
	}

	.front {
		width: 80%;
		height: 120%;
		bottom: -20%;
		right: -25%;
		background-color: var(--iris-4);
		animation-direction: reverse;
	}

	@keyframes aura {
		100% {
			transform: rotate(1turn) translate(20%) rotate(-1turn);
		}
	}
}
