@layer composition {
	.base {
		display: grid;
		place-items: center;
		flex: 1 1 auto;
	}

	.container {
		display: grid;
		place-items: center;
		gap: var(--gap);
	}

	.details {
		margin-top: var(--gap--large);
	}
}
