@layer feature {
	.cloud {
		max-height: 12rem;
		overflow-y: auto;
	}

	.tag {
		display: inline-flex;
		align-items: center;
		gap: var(--space-1);
		overflow-wrap: break-word;
	}

	.remove {
		transition: opacity var(--transition-duration);

		&:not(:hover, :focus-visible) {
			opacity: 0.5;
		}
	}
}
