@layer ui {
	.fieldset {
		display: block;
		flex: 0 0 auto;
	}

	.group {
		display: flex;
		border-radius: var(--radius--full);
		border: 1px solid var(--mauve-6);
		background-color: var(--mauve-2);
		box-shadow: inset 0 0 1em var(--mauve-5);
		padding: var(--space-0);
		transition: border-color var(--transition-duration);
		width: fit-content;

		&:has(input:focus-visible) {
			outline: var(--space-0) solid var(--iris-11);
			outline-offset: 1px;
		}
	}

	.label {
		display: flex;
		flex: 1 0 auto;
		gap: var(--space-1);
		place-items: center;
		color: var(--mauve-11);
		padding: var(--space-2) var(--space-3);
		border-radius: var(--radius--full);
		transition-duration: var(--transition-duration);
		transition-property: box-shadow, background-color, color;
		font-size: var(--size-2);
		font-weight: 600;
		user-select: none;

		&:hover {
			color: var(--mauve-12);
		}

		&:not(:has(input:checked)) {
			cursor: pointer;

			&:active:hover {
				background-color: var(--mauve-2);

				&,
				.icon {
					color: var(--mauve-10);
					transition: none;
				}
			}
		}

		&:has(input:checked) {
			box-shadow: 0 1px 1px var(--mauve-6);
			background-color: var(--mauve-1);
			color: var(--mauve-12);
		}
	}
}
