@layer feature {
	.list {
		display: grid;
		grid-template-columns: repeat(
				auto-fit,
				minmax(min(var(--recipe-card-width), 100%), var(--recipe-card-width))
			);
		gap: var(--space-4);
		justify-content: center;
	}
}
