@layer layout {
	.container {
		display: grid;
		gap: var(--gap--large);
		padding-block: var(--app-inset) var(--gap--huge);
		container-type: inline-size;
		grid-template:
			"header" auto
			"table" 1fr;
	}

	.list {
		margin-top: var(--gap--large);

		@container (width < 450px) {
			margin-inline: calc(var(--app-inset) * -1);
		}
	}

	.actions {
		justify-content: center;
		margin-top: var(--gap--tiny);
	}
}
