@property --grid-c {
	syntax: "<color>";
	inherits: true;
	initial-value: transparent;
}

@property --bg-from {
	syntax: "<color>";
	inherits: false;
	initial-value: transparent;
}

@property --bg-to {
	syntax: "<color>";
	inherits: false;
	initial-value: transparent;
}

@layer component {
	.list {
		display: grid;

		@container (width >= 570px) {
			grid-template-columns: repeat(3, 1fr);
		}
	}

	.item {
		--border-width: 1px;
		--border: var(--border-width) solid hsl(from var(--mauve-12) h s l / 0.2);

		display: flex;
		justify-content: center;
		border-top: var(--border);
		border-bottom: var(--border);

		@container (width < 570px) {
			border-top-width: 0;
			border-bottom-width: 0;
			border-left: var(--border);
			border-right: var(--border);

			&:first-child {
				border-top-width: var(--border-width);
				border-top-left-radius: var(--radius--large);
				border-top-right-radius: var(--radius--large);
			}

			&:last-child {
				border-bottom-width: var(--border-width);
				border-bottom-left-radius: var(--radius--large);
				border-bottom-right-radius: var(--radius--large);
			}

			&:not(:last-child) .card {
				border-bottom: var(--border);
			}
		}

		@container (width >= 570px) {
			&:first-child {
				border-top-left-radius: var(--radius--large);
				border-bottom-left-radius: var(--radius--large);
				border-left: var(--border);
			}

			&:last-child {
				border-top-right-radius: var(--radius--large);
				border-bottom-right-radius: var(--radius--large);
				border-right: var(--border);
			}

			&:not(:last-child) .card {
				border-right: var(--border);
			}
		}
	}

	.card {
		--grid-c: var(--mauve-6);
		--interacting: 0;

		display: grid;
		grid-template-rows: var(--space-7) 1fr var(--space-7);
		gap: var(--space-5);
		text-align: center;
		text-wrap: balance;
		overflow: hidden;
		width: 100%;
		background-color: var(--mauve-2);
		background-image: linear-gradient(to top, var(--bg-from), var(--bg-to));
		isolation: isolate;
		position: relative;
		border-radius: inherit;

		&:is(:hover, :focus-visible):not([inert]) {
			--interacting: 1;
			--grid-c: var(--iris-8);
			--bg-from: var(--iris-3);
			--bg-to: var(--iris-1);

			background-color: var(--iris-2);
			color: var(--mauve-12);
		}

		&:not(:active:hover) {
			transition-property:
				color, border-color, background-color, --bg-from, --bg-to;
			transition-duration: var(--transition-duration);
		}

		&.featured {
			box-shadow:
				0 0 80px -20px var(--iris-9),
				0 0 60px -20px var(--iris-10);
		}

		&[inert] {
			opacity: 0.5;
		}

		&::before {
			content: "";
			position: absolute;
			inset: auto calc(var(--border-width) * -1) calc(var(--border-width) * -1);
			height: 100%;
			z-index: -1;
			pointer-events: none;
			transition: --grid-c var(--transition-duration);
			background-image:
				linear-gradient(to right, var(--grid-c) 1px, transparent 1px),
				linear-gradient(to top, var(--grid-c) 1px, transparent 1px);
			background-size: 10px 10px;
			background-position: bottom left;
			mask-composite: intersect;
			mask-image:
				repeating-linear-gradient(
					to right,
					black 0px,
					black 1.5px,
					transparent 1.5px,
					transparent 4px
				),
				repeating-linear-gradient(
					to top,
					black 0px,
					black 1.5px,
					transparent 1.5px,
					transparent 4px
				),
				radial-gradient(ellipse 85% 70% at 50% 100%, #000 35%, transparent 70%);
		}
	}

	.icon {
		color: var(--iris-11);
	}

	.label {
		font-weight: 600;
	}

	.hook {
		color: var(--iris-11);
	}

	.top {
		padding: var(--space-3);
	}

	.content {
		padding-inline: var(--gap);
	}

	.arrow {
		color: color-mix(
			in oklch,
			var(--mauve-9),
			var(--iris-11) calc(var(--interacting) * 100%)
		);
		transform: translateX(calc((1 - var(--interacting)) * -3px));
		transition-property: transform, color;
		transition-duration: var(--transition-duration);
	}
}
