@layer composition {
	.statsSlot {
		display: grid;
		gap: var(--space-2);
	}

	.statsRow {
		display: flex;
		justify-content: flex-end;
		align-items: flex-end;
		gap: var(--space-5);
	}

	.statTile {
		display: grid;
		gap: var(--space-1);
		justify-items: end;
	}

	.distBar {
		display: flex;
		align-items: center;
		gap: 2px;
		height: 10px;
	}

	.distSeg {
		flex: var(--jsxFlexGrow) 0 var(--space-1);
		height: 100%;
		background-color: var(--mauve-6);

		&:first-child {
			border-top-left-radius: var(--radius--full);
			border-bottom-left-radius: var(--radius--full);
		}

		&:last-child {
			border-top-right-radius: var(--radius--full);
			border-bottom-right-radius: var(--radius--full);
		}
	}

	.chips {
		display: flex;
		flex-wrap: wrap;
		gap: var(--space-0);
	}
}
