@layer feature {
	.list {
		display: grid;
		grid-template-columns: auto 1fr auto;
		gap: var(--space-1) var(--space-3);
	}

	.item {
		display: grid;
		grid-column: 1 / -1;
		grid-template-columns: subgrid;
	}

	.entry {
		display: contents;
	}
}
