@layer feature {
	.specs {
		container-type: inline-size;
		container-name: specs-list;
	}

	.list {
		display: grid;
		grid-template-columns: auto 1fr auto;
		gap: var(--space-1) var(--space-3);

		@container specs-list (width < 25ch) {
			grid-template-columns: 1fr;
			row-gap: var(--space-3);
		}
	}

	.item {
		display: grid;
		grid-column: 1 / -1;
		grid-template-columns: subgrid;

		/**
		 * "Hack" to have the NEW label not look horrible. This is not a good layout in the
		 * first place though so expect refactor.
		 */
		@container specs-list (width < 25ch) {
			place-items: start;
		}
	}

	.entry {
		display: contents;
	}
}
