@layer ui {
	.lightbox {
		--r: var(--radius--large);

		border-radius: var(--r);
		box-shadow: var(--shadow--high);

		color: var(--glass--text);
		background-color: var(--glass--bg);
		backdrop-filter: var(--glass--blur);
		border: 1px solid var(--glass--border-color);

		@supports (not (backdrop-filter: blur(var(--size-1)))) {
			background-color: var(--mauve-1);
		}

		overflow: auto;
		overscroll-behavior: contain;

		&.rounded {
			--r: var(--radius--full);
		}
	}
}
