@layer ui {
	.textarea {
		--inset: var(--space-2);

		height: auto;
		resize: none;
		padding-block: var(--inset);
		line-height: var(--line-height);
		field-sizing: content;
		min-block-size: calc(2lh + var(--inset) * 2 + 2px);
	}

	.pill {
		min-width: 10ch;
		width: var(--control-width--small);
		height: 2em;
		border-radius: var(--radius--full);
	}
}
