@layer ui {
	.textarea {
		--inset: var(--space-2);

		height: auto;
		resize: none;
		padding-block: var(--inset);
		line-height: var(--line-height);
		field-sizing: content;
		min-block-size: calc(2lh + var(--inset) * 2 + 2px);
	}

	.pill {
		min-width: 10ch;
		width: var(--control-width--small);
		height: 2em;
		max-width: 100%;
		border-radius: var(--radius--full);
	}

	.adornedWrapper {
		position: relative;

		&.fitContent {
			width: fit-content;
		}
	}

	.adornment {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		pointer-events: none;
		display: flex;
		align-items: center;

		.adornedWrapper:has(:hover, :focus-within) & {
			z-index: 3;
		}

		&.start {
			left: var(--space-4);
		}

		&.end {
			right: var(--space-4);
		}
	}

	.hasStartAdornment {
		padding-inline-start: var(--space-7);
	}

	.hasEndAdornment {
		padding-inline-end: var(--space-7);
	}
}
