@layer layout {
	.container {
		display: grid;
		gap: var(--gap);
		padding-block: var(--app-inset) var(--gap--huge);
		align-content: start;
		container-type: inline-size;
	}

	.frame {
		margin-top: var(--gap--large);

		@container (width < 450px) {
			margin-inline: calc(var(--app-inset) * -1);
		}
	}

	.actions {
		justify-content: center;
	}
}
