@layer feature {
	.strip {
		gap: var(--space-3) var(--gap);
		padding: var(--space-2);
		border: 1px solid var(--iris-6);
		border-radius: var(--radius--large);
		background-color: var(--mauve-2);
		box-shadow: var(--shadow);
		position: relative;
	}

	.thumb {
		--expand: 0;

		flex: 0 0 auto;
		position: relative;
		display: grid;
		place-items: center;
		width: var(--space-9);
		aspect-ratio: 1;
		overflow: hidden;
		border-radius: var(--radius);
		background-color: var(--mauve-3);
		color: var(--iris-11);

		&:is(:hover, :focus-visible) {
			--expand: 1;
		}
	}

	.image {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.info {
		flex: 1 1 auto;
	}

	.expand {
		position: absolute;
		inset: 0;
		display: grid;
		place-items: center;
		color: var(--mauve-12);
		background-color: hsl(from var(--mauve-1) h s l / 0.6);
		opacity: var(--expand);
		transition: opacity var(--transition-duration--short);
	}

	.quota {
		position: absolute;
		top: var(--gap--tiny);
		right: var(--gap--tiny);
	}
}
