/**
 * Note: These are GLOBAL utility classes, NOT SCOPED to any component.
 */
@layer utils {
	.sr-only {
		position: absolute;
		width: 1px;
		height: 1px;
		padding: 0;
		margin: -1px;
		overflow: hidden;
		clip: rect(0, 0, 0, 0);
		white-space: nowrap;
		border: 0;
	}

	.required::after {
		content: " *";
		color: var(--red-9);
		text-decoration: none;
	}
}
