@layer ui {
	@property --jsxFontSize {
		syntax: "*";
		inherits: false;
	}

	@property --jsxFontWeight {
		syntax: "*";
		inherits: false;
	}

	@property --jsxTextAlign {
		syntax: "*";
		inherits: false;
	}

	.text {
		font-size: var(--jsxFontSize, 1em);
		font-weight: var(--jsxFontWeight, 400);
		text-align: var(--jsxTextAlign, left);
		font-family: var(--font-sans-serif, sans-serif);

		text-wrap: pretty;
		line-height: var(--line-height);
		transition-property: color;
		transition-duration: var(--transition-duration--short);

		&:not(.fullWidth) {
			max-width: var(--line-length);
		}

		> a {
			color: var(--iris-11);
			text-decoration: underline;
		}

		&:is(table) {
			th,
			td {
				text-align: var(--jsxTextAlign, left);
				font-weight: var(--jsxFontWeight, inherit);
				border: 1px solid var(--mauve-6);
				padding: 0.25em 1ch;
				font-variant-numeric: tabular-nums;
			}
		}

		&:is(dl) {
			dt {
				&:not(:first-child) {
					margin-top: var(--gap--tiny);
				}
			}
		}
	}

	.list {
		& ol,
		&:is(ol) {
			list-style: decimal inside;
		}

		& ul,
		&:is(ul) {
			list-style: disc inside;
		}
	}

	.truncate {
		text-overflow: ellipsis;
		overflow: hidden;
	}

	.balance {
		text-wrap: balance;
	}

	.compact {
		line-height: var(--line-height--compact);
	}

	.serif {
		font-family: var(--font-serif, serif);
	}

	.italic {
		font-style: italic;
	}

	.light {
		color: var(--mauve-10);
	}

	.heavy {
		color: var(--mauve-12);
	}

	.noWrap {
		white-space: nowrap;
	}

	.numeric {
		font-variant-numeric: tabular-nums;
	}
}
