@layer ui {
	@property --jsxFontSize {
		syntax: "<length>";
		initial-value: inherit;
		inherits: false;
	}

	@property --jsxFontWeight {
		syntax: "<number>";
		initial-value: inherit;
		inherits: false;
	}

	@property --jsxTextAlign {
		syntax: "<text-align>";
		initial-value: inherit;
		inherits: false;
	}

	.text {
		font-size: var(--jsxFontSize);
		font-weight: var(--jsxFontWeight);
		text-align: var(--jsxTextAlign);

		text-wrap: pretty;
		line-height: var(--line-height);

		&:not(.fullWidth) {
			max-width: var(--line-length);
		}

		> a {
			color: var(--iris-11);
			text-decoration: underline;
		}

		& ul {
			list-style: disc inside;
		}

		& ol {
			list-style: decimal inside;
		}
	}

	.truncate {
		text-overflow: ellipsis;
		overflow: hidden;
	}

	.compact {
		line-height: var(--line-height--compact);
	}

	.serif {
		font-family: var(--font-serif, serif);
	}

	.italic {
		font-style: italic;
	}

	.light {
		color: var(--mauve-10);
	}

	.heavy {
		color: var(--mauve-12);
	}
}
