@layer feature {
	.list {
		--bar-height: 10px;

		display: flex;
		align-items: center;
		gap: 2px;
		height: var(--bar-height);
		contain: layout;
	}

	.item {
		flex: var(--jsxCount) 0 var(--space-1);
	}

	.segment {
		background-color: var(--jsxEntryColor);
		height: var(--bar-height);
		width: 100%;
		transition-property: height, opacity;
		transition-duration: var(--transition-duration);

		.item:first-child & {
			border-top-left-radius: var(--radius--full);
			border-bottom-left-radius: var(--radius--full);
		}

		.item:last-child & {
			border-top-right-radius: var(--radius--full);
			border-bottom-right-radius: var(--radius--full);
		}

		&:is(:hover, :focus-visible):not(.isStatic) {
			opacity: 0.85;
			will-change: height;
		}

		&[aria-pressed="true"] {
			height: calc(var(--bar-height) * 1.4);
		}

		&.isInactive {
			opacity: 0.3;
		}

		&.isStatic {
			cursor: default;
		}
	}
}
