:root {
	/**
	 * Scaling units
	 */
	--space-scale-0: 0.2;
	--space-scale-1: 0.25;
	--space-scale-2: 0.5;
	--space-scale-3: 0.75;
	--space-scale-4: 1;
	--space-scale-5: 1.5;
	--space-scale-6: 2;
	--space-scale-7: 3;
	--space-scale-8: 4;
	--space-scale-9: 5;

	--size-scale-0: 0.65;
	--size-scale-1: 0.75;
	--size-scale-2: 0.875;
	--size-scale-3: 1;
	--size-scale-4: 1.125;
	--size-scale-5: 1.25;
	--size-scale-6: 1.5;
	--size-scale-7: 2;
	--size-scale-8: 2.5;
	--size-scale-9: 4;

	/**
	 * Size declarations
	 */
	--space-0: calc(1rem * var(--space-scale-0));
	--space-1: calc(1rem * var(--space-scale-1));
	--space-2: calc(1rem * var(--space-scale-2));
	--space-3: calc(1rem * var(--space-scale-3));
	--space-4: calc(1rem * var(--space-scale-4));
	--space-5: calc(1rem * var(--space-scale-5));
	--space-6: calc(1rem * var(--space-scale-6));
	--space-7: calc(1rem * var(--space-scale-7));
	--space-8: calc(1rem * var(--space-scale-8));
	--space-9: calc(1rem * var(--space-scale-9));

	--size-0: calc(1rem * var(--size-scale-0));
	--size-1: calc(1rem * var(--size-scale-1));
	--size-2: calc(1rem * var(--size-scale-2));
	--size-3: calc(1rem * var(--size-scale-3));
	--size-4: calc(1rem * var(--size-scale-4));
	--size-5: calc(1rem * var(--size-scale-5));
	--size-6: calc(1rem * var(--size-scale-6));
	--size-7: calc(1rem * var(--size-scale-7));
	--size-8: calc(1rem * var(--size-scale-8));
	--size-9: calc(1rem * var(--size-scale-9));

	--golden-ratio: 1.618;

	/**
	 * Spacing aliases
	 */
	--gap--tiny: var(--space-2);
	--gap--small: var(--space-3);
	--gap: var(--space-4);
	--gap--large: var(--space-6);
	--gap--huge: var(--space-9);

	--app-inset: var(--space-6);

	--control-height--small: 2.5rem;
	--control-height: var(--space-7);
	--control-height--large: var(--space-8);
	--control-width: 35ch;
	--control-width--small: 20ch;
	--control-min-width: 6ch;
	--control-inset: var(--space-4);
	--control-inset--compact: var(--space-3);

	/**
	 * Colors
	 *
	 * Avoid standard color names. It's tempting, but different backgrounds demand
	 * different contrast ratios, and overrides of the underlying variable doesn't
	 * reflect the alias. F.e., using `var(--color-text)` in a component prevents
	 * local light mode override.

		--color-error: var(--red-9);
		--color-warning: darkorange;
		--color-success: olivedrab;

		--color-text: var(--mauve-11);
		--color-text--light: var(--mauve-10);
		--color-text--heavy: var(--mauve-12);

		--color-background: var(--mauve-3);

		--color-border--light: var(--mauve-5);
		--color-border: var(--mauve-6);
		--color-border--heavy: var(--mauve-7);

		--color-accent: var(--iris-11);
		--color-link: var(--color-accent);
	 */

	/**
	 * Typography
	 */
	--line-length: 60ch;
	--line-height: 1.5;
	--line-height--compact: 1.15;

	/**
	 * Misc.
	 */
	--radius: 6px;
	--radius--small: calc(var(--radius) / 2);
	--radius--large: calc(var(--radius) * 2);
	--radius--full: 9999px;
	--shine: oklch(100% 0 0 / 0.075);

	--container: 90ch;

	--app-header--height: var(--space-8);
	--app-navigation--height: var(--size-8);
	--bar-navigation--height: var(--space-8);

	/**
	 * Transitions
	 */
	--transition-duration: 250ms;
	--transition-duration--short: 150ms;
	--transition-duration--slow: 500ms;

	--swift-in: cubic-bezier(0.1, 1, 0.55, 1);
	--ease-out--expo: cubic-bezier(0.16, 1, 0.3, 1);
	--ease-in--expo: cubic-bezier(0.7, 0, 0.84, 0);

	/**
	 * z-index
	 */
	--z-navigation: 100;
	--z-modal: 9990;
	--z-popover: 990;

	--shadow-color: 270deg 3.85% 10%;
	--shadow--low:
		0px 0.5px 0.5px hsl(var(--shadow-color) / 0.2),
		0px 1px 1px -1px hsl(var(--shadow-color) / 0.15),
		0px 2px 2px -3px hsl(var(--shadow-color) / 0.1);
	--shadow:
		0px 1px 1px hsl(var(--shadow-color) / 0.1),
		0px 2px 2px -1px hsl(var(--shadow-color) / 0.1),
		0px 4px 4px -2px hsl(var(--shadow-color) / 0.05),
		0px 10px 10px -3px hsl(var(--shadow-color) / 0.05);
	--shadow--high:
		0px 1px 1px hsl(var(--shadow-color) / 0.1),
		0px 3px 3px -0.5px hsl(var(--shadow-color) / 0.1),
		0px 6px 6px -1px hsl(var(--shadow-color) / 0.05),
		0px 10px 10px -2px hsl(var(--shadow-color) / 0.05),
		0px 20px 20px -2px hsl(var(--shadow-color) / 0.05),
		0px 30px 30px -3px hsl(var(--shadow-color) / 0.05),
		0px 50px 50px -3px hsl(var(--shadow-color) / 0.05);
}

[data-theme="dark"] {
	--shadow-color: 270deg 5.56% 7.06%;
}
