@layer ui {
	.number {
		position: relative;
		display: inline-block;
		clip-path: inset(-0.2em -100vw);
		font-variant-numeric: tabular-nums;
	}

	/* Invisible copy of the current value */
	.sizer {
		visibility: hidden;
	}

	.value {
		position: absolute;
		top: 0;
		left: 0;
	}
}
