@layer ui {
	@property --jsxGap {
		syntax: "*";
		initial-value: 0;
		inherits: false;
	}

	@property --jsxAlignItems {
		syntax: "*";
		initial-value: flex-start;
		inherits: false;
	}

	@property --jsxJustifyContent {
		syntax: "*";
		initial-value: normal;
		inherits: false;
	}

	.flex {
		display: flex;
		gap: var(--jsxGap);
		align-items: var(--jsxAlignItems);
		justify-content: var(--jsxJustifyContent);
		flex-direction: row;
	}

	.wrap {
		flex-wrap: wrap;
	}

	.column {
		flex-direction: column;
	}
}
