@layer component {
	.drawer {
		--inset: calc(var(--app-inset) / 2);
		--maxHeight: 80svh;

		&::backdrop {
			transition: none;
		}
	}

	.motion {
		position: fixed;
		inset: auto var(--inset) var(--inset);
		margin-inline: auto;
		max-width: var(--container);
		max-height: var(--maxHeight);
		touch-action: none;
		will-change: transform;
		contain: layout style paint;
	}

	.container {
		display: grid;
		grid-template:
			"header" auto
			"content" 1fr
			"footer" auto;
		width: 100%;
		border-radius: var(--radius--large);
		background-color: var(--mauve-2);
		box-shadow: var(--shadow--high);
		max-height: calc(var(--maxHeight) - var(--inset));
		position: relative;

		&::before {
			content: "";
			display: block;
			position: absolute;
			inset: var(--space-3) 0 auto;
			margin-inline: auto;
			width: var(--size-8);
			height: 4px;
			border-radius: var(--radius--full);
			background-color: var(--mauve-6);
		}
	}

	.header {
		grid-area: header;
		padding: var(--gap) var(--app-inset);
	}

	.content {
		grid-area: content;
		overscroll-behavior: contain;
		overflow: auto;
		container-type: inline-size;
		padding-bottom: var(--gap);
		padding-inline: var(--app-inset);
	}

	.footer {
		grid-area: footer;
		padding: var(--space-2) var(--app-inset);
		border-top: 1px solid var(--mauve-4);
	}

	.actions {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: var(--gap);

		/**
		 * Offset for ghost button alignment
		 */
		margin-inline: calc(var(--space-2) * -1);
	}
}
