@layer ui {
	.item {
		display: flex;
		gap: var(--gap);
		padding-inline: var(--spacing);
		cursor: pointer;
		border-radius: var(--radius);
		transition: background-color, color;
		transition-duration: var(--transition-duration--short);
		color: var(--mauve-12);

		&.isHighlighted,
		&:hover,
		&:focus {
			background-color: hsl(from var(--iris-7) h s l / 0.25);
		}

		&.isSelected {
			background-color: hsl(from var(--iris-7) h s l / 0.75);
		}
	}

	.label {
		flex: 1 1 auto;
		text-overflow: ellipsis;
		overflow: hidden;
		padding-block: var(--space-2);
	}

	.icon {
		flex: 0 0 auto;
		align-self: center;
		color: var(--mauve-12);
	}
}
