@layer layout {
	.content {
		--bgc: hsl(from var(--mauve-2) h s l / 0.85);
		color: var(--mauve-12);
		display: grid;
		gap: var(--gap);
		grid-area: content;
		background-color: var(--bgc);
		border-radius: var(--radius--huge);
		padding: var(--gap--large);
		box-shadow: var(--shadow--high);
		transition-property: background-color, color;
		transition-duration: var(--transition-duration);
		position: relative;
	}

	.heading {
		color: inherit;
	}

	.divider {
		max-width: 100%;
	}

	.nav {
		display: grid;
		gap: var(--gap--small);
	}

	.icons {
		position: absolute;
		inset: auto var(--space-8) 100% auto;
	}

	.icon {
		fill: var(--bgc);
	}

	.actions {
		display: flex;
		justify-content: flex-end;
		flex: 1 0 auto;
		place-self: flex-end;
	}
}
