@layer component {
	.actions {
		&.withOffset {
			margin-inline: calc(var(--space-2) * -1);
		}
	}

	.action {
		display: flex;
		align-items: center;
		font-size: var(--size-1);

		&:not(:hover, :focus, [aria-disabled="true"]) {
			color: var(--mauve-11);
		}
	}
}
