@layer component {
	.actions {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		margin-inline: calc(var(--space-2) * -1);
	}

	.action {
		display: flex;
		align-items: center;
		font-size: var(--size-1);

		&:not(:hover, :focus) {
			color: var(--mauve-11);
		}
	}
}
