@layer composition {
	.rail {
		display: grid;
		gap: var(--gap--small);
		align-items: end;
		justify-content: space-between;

		position: sticky;
		bottom: max(env(safe-area-inset-bottom), var(--gap));
		z-index: var(--z-navigation);
		grid-row: 2;
		grid-template-columns: 1fr auto 1fr;
		pointer-events: none;
		margin-inline: calc(var(--app-inset) * -0.5);

		@media (max-width: 35rem) {
			grid-template-columns: auto auto;

			.right {
				display: none;
			}
		}
	}

	.node > * {
		pointer-events: auto;
	}

	.middle {
		display: flex;
		gap: var(--gap--tiny);
		align-items: center;
		flex-wrap: wrap-reverse;
		justify-content: flex-end;
	}
}
