@layer base {
	.reset {
		all: unset;
		box-sizing: border-box;
		cursor: pointer;

		display: inline-flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		gap: var(--space-2);

		flex-shrink: 0;
		font-family: inherit;
		font-style: normal;
		vertical-align: top;
		user-select: none;
		box-shadow: 0 0 0 transparent;

		touch-action: manipulation;
	}
}

@layer ui {
	.button {
		&:not(:active) {
			transition-property: background-color, border-color, color, transform;
			transition-duration: var(--transition-duration);
		}

		&[aria-disabled="true"] {
			cursor: auto;
			--button-color: var(--mauve-10);
		}

		&:focus {
			z-index: 1;
		}

		&:focus-visible {
			outline: var(--space-0) solid hsl(from var(--button-color) h s l / 80%);
			outline-offset: 1px;
		}

		> .label {
			display: inline-flex;
			align-items: center;
			gap: 0.5em;
		}

		&:where(:not(.base)) {
			font-weight: 600;

			&:not([aria-disabled="true"]):active {
				transition: none;

				> .label {
					transition: none;
					opacity: 0.75;
				}
			}

			&.hasEndAdornment {
				justify-content: space-between;
			}
		}

		&:where(:not(.base)) {
			font-size: var(--button-font-size);
		}

		&:where(:not(.base, .text)) {
			padding-inline: var(--button-inset);
			height: var(--button-height);
			border-radius: var(--radius--large);

			/**
			 * Basically immediately after click
			 */
			&:focus:not(:focus-visible):not(:active):not([aria-disabled="true"]) {
				animation: shadowPulse var(--transition-duration--slow) forwards;
			}
		}

		.label {
			transition: opacity var(--transition-duration);
		}

		[data-theme="dark"] & {
			--text-lightness: 0%;
		}

		[data-theme="light"] & {
			--text-lightness: 95%;
		}
	}

	/**
	 * Colors
	 */
	.regular {
		--button-color: var(--mauve-11);
		--button-color-text: var(--mauve-12);
	}

	.light {
		--button-color-text: var(--mauve-12);

		[data-theme="dark"] & {
			--text-lightness: 80%;
			--button-color: var(--mauve-7);

			&[aria-disabled="true"] {
				--text-lightness: 50%;
				--button-color: var(--mauve-5);
			}
		}

		[data-theme="light"] & {
			--text-lightness: 0%;
			--button-color: var(--mauve-7);

			&[aria-disabled="true"] {
				--text-lightness: 80%;
				--button-color: var(--mauve-5);
			}
		}
	}

	.heavy {
		--button-color: var(--mauve-12);
		--button-color-text: var(--mauve-12);
	}

	.red {
		--button-color: var(--red-11);
		--button-color-text: var(--red-12);
	}

	.accent {
		--button-color: var(--iris-11);
		--button-color-text: var(--iris-12);
	}

	.amber {
		--button-color: var(--amber-10);
		--button-color-text: var(--amber-12);
	}

	/**
	 * Sizes
	 */
	.tiny {
		--button-inset: var(--space-2);
		--button-height: var(--space-5);
		--button-font-size: var(--size-2);
	}

	.small {
		--button-inset: var(--space-3);
		--button-height: var(--space-6);
		--button-font-size: var(--size-2);
	}

	.default {
		--button-inset: var(--space-3);
		--button-height: 40px;
		--button-font-size: var(--size-3);
	}

	.large {
		--button-inset: var(--space-4);
		--button-height: var(--space-7);
		--button-font-size: var(--size-4);
	}

	/**
	 * Variants
	 */
	.text {
		transition-property: color, opacity;
		transition-duration: var(--transition-duration);
		color: var(--button-color);

		&:not([aria-disabled="true"]) {
			&.link:hover {
				color: var(--iris-11);
				text-decoration: underline;
			}

			&:hover {
				color: var(--mauve-12);
			}
		}
	}

	.solid {
		background-color: var(--button-color);
		color: hsl(from var(--button-color) h s var(--text-lightness));
		border: 1px solid var(--button-color);

		&:not([aria-disabled="true"]):active:hover {
			box-shadow: inset 0 0 1rem
				color-mix(in srgb, var(--button-color) 80%, black);
		}
	}

	.outline {
		border: 1px solid var(--button-color);
		color: var(--button-color);

		&.light {
			color: hsl(from var(--button-color) h s var(--text-lightness));
		}

		&:not([aria-disabled="true"]) {
			&:hover,
			&:focus-visible {
				border-color: color-mix(in srgb, var(--button-color) 75%, white);
			}
		}
	}

	.ghost {
		color: var(--mauve-12);

		&:not([aria-disabled="true"]) {
			&:hover,
			&:focus-visible {
				background-color: hsl(from var(--button-color) h s 90%);
				color: hsl(from var(--button-color) h s 20%);
			}
		}
	}

	.action {
		--button-inset: var(--space-2);
		--button-height: var(--space-5);
		--button-font-size: var(--size-1);

		color: var(--mauve-12);

		&:not([aria-disabled="true"]) {
			&:hover,
			&:focus-visible {
				background-color: hsl(from var(--button-color) h s 90%);
				color: hsl(from var(--button-color) h s 20%);
			}
		}
	}

	.clear {
		background-color: hsl(from var(--button-color) h s l / 0.2);
		color: var(--button-color-text, var(--button-color));
		backdrop-filter: blur(var(--space-1));
		border: 1px solid hsl(from var(--button-color) h s l / 0.1);
		box-shadow: var(--shadow--high);

		&:not([aria-disabled="true"]) {
			&:hover,
			&:focus-visible {
				background-color: hsl(from var(--button-color) h s l / 0.25);
			}
		}
	}

	.clear.light {
		background-color: hsl(from var(--mauve-1) h s l / 0.5);

		&:not([aria-disabled="true"]) {
			&:hover,
			&:focus-visible {
				background-color: hsl(from var(--mauve-1) h s l / 0.78);
			}
		}
	}

	/**
	 * Modifiers
	 */
	.icon {
		aspect-ratio: 1 / 1;
		padding: 0;
		border-radius: var(--radius--full);
		line-height: 0;
	}

	.fullWidth {
		width: 100%;
		flex: 1 1 auto;
	}

	.rounded {
		border-radius: var(--radius--full);
	}

	@keyframes shadowPulse {
		from {
			box-shadow: 0 0 0 0 hsl(from var(--button-color) h s l / 33.333%);
		}

		to {
			box-shadow: 0 0 0.5rem var(--size-7) transparent;
		}
	}
}
