@layer ui {
	.button {
		all: unset;
		box-sizing: border-box;
		cursor: pointer;

		display: inline-flex;
		align-items: center;
		justify-content: center;
		text-align: center;

		flex-shrink: 0;
		font-family: inherit;
		font-style: normal;
		vertical-align: top;
		user-select: none;
		box-shadow: 0 0 0 transparent;

		&:not(:active) {
			transition-property:
				background-color, border-color, color, outline-color, transform,
				box-shadow;
			transition-duration: var(--transition-duration);
		}

		&:where(:not(.base)) {
			padding-inline: var(--button-inset);
			height: var(--button-height);
			font-size: var(--button-font-size);

			gap: var(--space-2);
			border-radius: var(--radius--large);
			font-weight: 500;
		}

		&[disabled] {
			cursor: auto;
		}
	}

	.regular {
		--button-inset: var(--space-4);
		--button-height: var(--control-height--small);
		--button-font-size: var(--size-3);
	}

	.large {
		--button-inset: var(--space-6);
		--button-height: var(--control-height);
		--button-font-size: var(--size-4);
	}

	/**
	 * Variants
	 */
	.solid {}

	.outline {}

	.icon {
		aspect-ratio: 1 / 1;
		padding: 0;
		border-radius: var(--radius--full);
	}
}
