@layer feature {
	.container {
		display: grid;
		gap: var(--gap);
	}

	.box {
		padding: var(--gap);
		border-radius: var(--radius--large);
		background-color: var(--mauve-2);
	}

	.form {
		display: block;
	}

	.input {
		display: block;
		font-size: 2rem;
		max-width: 100%;
		width: auto;
		padding: var(--gap--tiny) var(--gap);
		border-radius: var(--radius--full);
	}
}
