@layer composition {
	.footer {
		background-color: var(--mauve-2);
		color: var(--mauve-10);
	}

	.contain {
		padding: calc(var(--gap--huge) * 2) var(--app-inset) var(--space-5);
	}

	.nav {
		display: flex;
		flex-wrap: wrap;
		gap: var(--gap--large) var(--gap--huge);
	}

	.link {
		&:hover,
		&:focus {
			color: var(--mauve-12);
		}
	}

	.settings {
		padding: var(--gap);
		border-radius: var(--radius);
		border: 1px dashed var(--mauve-6);
	}

	.commit {
		user-select: all;
		cursor: text;
		word-break: break-all;

		&:not(:hover) {
			color: var(--mauve-7);
		}
	}
}
