@layer ui {
	.callout {
		--inset: min(calc(var(--jsxSize, 0) / 2), var(--gap--large));

		display: inline-flex;
		column-gap: var(--inset);
		width: fit-content;
		max-width: var(--line-length);
	}

	.solid {
		padding: var(--inset);
		background-color: var(--bgc);
		border: 1px solid var(--bc);
		color: var(--c);
		border-radius: var(--radius);
	}

	.inset {
		border-left: var(--space-1) solid var(--bc);
		padding-left: var(--inset);
	}

	.icon {
		position: relative;
		top: calc((1lh - 1cap) / 3);
		flex: 0 0 auto;
		margin-inline: calc(var(--inset) / 2);
	}

	.content {
		display: grid;
		gap: var(--space-1);
		flex: 1 1 auto;
	}

	/**
	 * Colors
	 */
	.regular {
		--bgc: transparent;
		--bc: var(--mauve-6);
		--c: inherit;
	}

	.light {
		--bgc: var(--mauve-5);
		--bc: var(--mauve-6);
		--c: var(--mauve-12);
	}

	.heavy {
		--bgc: var(--mauve-3);
		--bc: var(--mauve-9);
		--c: var(--mauve-12);
	}

	.accent {
		--bgc: var(--iris-4);
		--bc: var(--iris-7);
		--c: var(--iris-12);
	}

	.red {
		--bgc: var(--red-4);
		--bc: var(--red-7);
		--c: var(--red-12);
	}

	.amber {
		--bgc: var(--amber-4);
		--bc: var(--amber-7);
		--c: var(--amber-12);
	}
}
