/**
 * This shadows our real @layer declarations, but Next.js currently has an issue
 * where even module import order isn't respected, and this happens to be the first
 * module loaded.
 */
@layer base, ui, composition, feature, layout, utils;

@layer composition {
	.header {
		display: grid;
		/**
		 * min-height to respect safe-area-inset-top
		 */
		min-height: var(--app-header--height);
		background-color: var(--mauve-3);
		border-bottom: 1px solid var(--color-border--light);
		contain: strict;
	}

	.container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: var(--gap);
		padding-inline: var(--gap);
	}

	.logo {
		font-size: var(--size-5);
		font-weight: 700;
		color: var(--mauve-12);
	}

	.grid {
		display: flex;
		align-items: center;
		gap: var(--gap--small);
	}

	.button {
		font-size: var(--size-2);
	}
}
