@layer base, ui, component, feature, composition, layout, utils;

@layer composition {
	.header {
		display: grid;
		/**
		 * min-height to respect safe-area-inset-top
		 */
		min-height: var(--app-header--height);
		border-bottom: 1px solid var(--mauve-5);
		contain: strict;
		background-color: var(--mauve-3);
		transition-property: background-color;
		transition-duration: var(--transition-duration--short);

		&.overlay {
			position: absolute;
			inset: 0 0 auto;
			z-index: var(--z-navigation);
			background-color: hsl(from var(--mauve-3) h s l / 0.5);
		}
	}

	.container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: var(--gap);
		padding-inline: var(--gap);
	}

	.grid {
		display: flex;
		align-items: center;
		gap: var(--gap--tiny);
	}
}
