@layer feature {
	.root {
		display: grid;
		grid-template-rows: auto 1fr auto;
		border: 1px solid var(--mauve-6);
		border-radius: var(--radius--large);
		background-color: var(--mauve-2);
		overflow: hidden;
		transition-property: border-color;
		transition-duration: var(--transition-duration);

		&:hover {
			border-color: var(--mauve-8);
		}
	}

	.titleBar {
		display: flex;
		align-items: center;
		gap: var(--space-2);
		padding-inline: var(--space-3);
		padding-block: var(--space-2);
		border-bottom: 1px solid var(--mauve-6);
		background-color: var(--mauve-3);
		user-select: none;
	}

	.titleIcon {
		color: var(--iris-9);
	}

	.container {
		position: relative;
		width: 100%;
		outline: var(--space-0) solid transparent;
		outline-offset: calc(-1 * var(--space-0));
		transition-property: outline-color;
		transition-duration: var(--transition-duration);

		&:focus-within {
			outline-color: var(--iris-11);
		}
	}

	.input {
		cursor: text;
		font-family: inherit;
		font-size: max(1rem, 16px);
		font-weight: 600;
		color: var(--mauve-12);
		background: transparent;
		border: none;
		border-radius: 0;
		padding-inline: var(--control-inset);
		padding-block: var(--space-3);
		line-height: var(--line-height);
		min-block-size: 100%;
		width: 100%;
		outline: none;
	}

	.placeholder {
		position: absolute;
		top: var(--space-3);
		left: var(--control-inset);
		right: var(--control-inset);
		color: var(--mauve-9);
		font-size: max(1rem, 16px);
		font-weight: 600;
		line-height: var(--line-height);
		white-space: pre-line;
		pointer-events: none;
		user-select: none;
	}

	.paragraph {
		min-height: 1lh;
	}

	.statusBar {
		display: flex;
		align-items: center;
		gap: var(--space-3);
		padding-inline: var(--space-3);
		padding-block: var(--space-2);
		border-top: 1px solid var(--mauve-6);
		background-color: var(--mauve-3);
		user-select: none;
	}

	.container [data-ghost]::after {
		content: attr(data-ghost);
		color: var(--mauve-8);
		pointer-events: none;
		user-select: none;
	}
}
