@layer composition {
	.fieldset {
		display: block;
		flex: 0 0 auto;
	}

	.group {
		display: flex;
		border-radius: var(--radius--full);
		border: 1px solid var(--mauve-6);
		background-color: var(--mauve-2);
		box-shadow: inset 0 0 1em var(--mauve-5);
		gap: 2px;
		padding: 2px;
		transition: border-color var(--transition-duration);

		&:has(input:focus-visible) {
			outline: 2px solid var(--iris-11);
			outline-offset: 1px;
		}
	}

	.label {
		display: flex;
		flex: 1 0 auto;
		place-items: center;
		aspect-ratio: 1 / 1;
		color: var(--mauve-10);
		padding: var(--space-1);
		border-radius: 50%;
		transition-duration: var(--transition-duration);
		transition-property: box-shadow, background-color, color;

		&:hover {
			color: var(--mauve-12);
		}

		&:not(:has(input:checked)) {
			cursor: pointer;
		}

		&:has(input:checked) {
			box-shadow: 0 1px 1px var(--mauve-6);
			background-color: var(--mauve-1);
			color: var(--mauve-12);
		}
	}
}
