@layer components {
	.fieldset {
		display: block;
		flex: 0 0 auto;
	}

	.group {
		display: flex;
		border-radius: var(--radius--full);
		border: 1px solid var(--color-border);
		background-color: light-dark(var(--mauve-2), var(--mauve-11));
		box-shadow: inset 0 0 1em light-dark(var(--mauve-5), var(--mauve-12));
		gap: 2px;
		padding: 2px;
		transition: border-color var(--transition-duration);
	}

	.label {
		display: flex;
		flex: 1 0 auto;
		place-items: center;
		aspect-ratio: 1 / 1;
		color: light-dark(var(--mauve-10), var(--mauve-8));
		padding: var(--space-1);
		border-radius: 50%;
		transition-duration: var(--transition-duration);
		transition-property: box-shadow, background-color, color;

		&:hover {
			color: light-dark(var(--mauve-12), var(--mauve-1));
		}

		&:not(:has(input:checked)) {
			cursor: pointer;
		}

		&:has(input:checked) {
			box-shadow: 0 1px 1px light-dark(var(--mauve-8), var(--mauve-11));
			background-color: var(--mauve-1);
			color: var(--mauve-12);
		}
	}
}