@layer feature {
	.root {
		display: grid;
		justify-content: center;
		align-self: start;
		align-items: start;
		gap: var(--gap);

		@container (width > 900px) {
			grid-template-columns: repeat(2, var(--recipe-preview-width));
		}
	}

	.form {
		@container (width > 900px) {
			position: sticky;
			top: var(--gap);
		}
	}

	.editor {
		display: grid;
		transition-property: opacity;
		transition-duration: var(--transition-duration);
	}

	.disabled {
		opacity: 0.5;
		pointer-events: none;
	}

	.preview {
		align-self: stretch;
		max-width: var(--recipe-preview-width);
		width: 100%;
	}
}
