@layer feature {
	.form {
		display: grid;
		gap: var(--gap);
	}

	.editor {
		min-height: 30lvh;
	}

	.toolbar {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: var(--gap);
	}

	.status {
		display: flex;
		align-items: center;
		gap: var(--gap);
	}

	.recipes {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	}

	.recipe {
		display: grid;
		margin-left: -1px;
		margin-bottom: -1px;
	}
}
