@layer ui {
	.lightbox {
		--r: var(--radius--large);
		--bg-from: var(--red-4);
		--bg-to: var(--iris-4);

		border-radius: var(--r);
		box-shadow: var(--shadow--high);

		border-top: 1px solid var(--shine);
		border-left: 1px solid var(--shine);

		background-image: linear-gradient(-45deg, var(--bg-from), var(--bg-to));

		background-origin: border-box;

		transition-property: opacity, transform;
		transition-duration: var(--transition-duration);
		transition-behavior: allow-discrete;

		@starting-style {
			opacity: 0;
		}

		@media (prefers-reduced-motion: no-preference) {
			@starting-style {
				transform: translateY(var(--gap)) scale(0.95);
			}
		}

		&.rounded {
			--r: var(--radius--full);
		}

		&.translucent {
			@supports (backdrop-filter: blur(var(--size-1))) {
				--bg-from: hsl(from var(--red-10) h s l / 20%);
				--bg-to: hsl(from var(--iris-10) h s l / 20%);
				backdrop-filter: blur(var(--size-1));
			}
		}
	}
}
