@layer ui {
	.lightbox {
		--r: var(--radius--large);

		border-radius: var(--r);
		box-shadow: var(--shadow--high);

		border: 1px solid hsl(0 0 100% / 0.15);
		backdrop-filter: blur(var(--size-2));
		background-color: hsl(from var(--mauve-1) h s l / 0.5);

		@supports (not (backdrop-filter: blur(var(--size-1)))) {
			background-color: var(--mauve-1);
		}

		overflow: auto;
		overscroll-behavior: contain;

		transition-property: opacity, transform;
		transition-duration: var(--transition-duration);
		transition-behavior: allow-discrete;

		@starting-style {
			opacity: 0;
		}

		@media (prefers-reduced-motion: no-preference) {
			transform-origin: top;

			@starting-style {
				transform: scaleY(0.96);
			}
		}

		&.rounded {
			--r: var(--radius--full);
		}
	}
}
