@layer composition {
	.particles {
		position: fixed;
		inset: 0;
		pointer-events: none;
	}

	.content {
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
		justify-content: center;
		gap: var(--gap--large);
		isolation: isolate;
		margin-block: var(--space-8);
		margin-inline: var(--gap);
	}

	.primary {
		width: var(--recipe-card-width);
		max-width: 100%;
	}

	.meta {
		padding-inline: var(--gap--small);
	}

	.actions {
		margin-top: var(--gap--tiny);
	}

	.boxes {
		display: grid;
		gap: var(--space-4);
		width: var(--recipe-card-width);
		max-width: 100%;
	}

	.toggles {
		display: grid;
		gap: var(--gap--tiny);
	}

	.box {
		background-color: var(--mauve-1);
		border-radius: var(--radius--large);
		padding: var(--gap);
		border: 2px dashed var(--mauve-4);
		box-shadow: var(--shadow--high);

		animation: boxIn 0.8s var(--spring-lazy) backwards;
		animation-delay: 0.25s;

		@supports (animation-delay: calc(sibling-index() * 1ms)) {
			animation-delay: calc(0.2s + sibling-index() * 0.05s);
		}
	}

	@keyframes boxIn {
		from {
			opacity: 0;
			transform: scale(0.9) translate(-16px, -8px);
		}
	}

	.card {
		box-shadow: var(--shadow--high);
	}

	.close {
		position: fixed;
		top: var(--gap);
		right: var(--gap);
	}
}
