@layer feature {
	.container {
		padding-top: var(--space-5);
		padding-bottom: var(--gap--huge);
	}

	.preview {
		align-self: start;
		position: sticky;
		top: var(--gap);
		width: var(--recipe-preview-width);
	}
}
