@layer feature {
	.list {
		display: grid;
		overflow: auto;
		gap: var(--jsxGap);

		/* Default: vertical list */
		grid-auto-flow: row;
		align-content: start;

		/* Touch devices: horizontal scroll */
		@media (hover: none) and (pointer: coarse) {
			scroll-snap-type: x proximity;
			grid-auto-flow: column;
			grid-auto-columns: 85vw;
			width: calc(100% + var(--jsxPadding) * 2);
			margin-inline: calc(var(--jsxPadding) * -1);
			padding-inline: var(--jsxPadding);
			mask-image: linear-gradient(
				to right,
				transparent 0px,
				black var(--jsxPadding),
				black calc(100% - var(--jsxPadding)),
				transparent 100%
			);
			mask-repeat: no-repeat;
		}
	}

	.item {
		contain: layout;

		@media (hover: none) and (pointer: coarse) {
			scroll-snap-align: center;
		}
	}
}
