@layer feature {
	.recipeName {
		display: inline-block;
		font-weight: 700;
		color: var(--mauve-12);
		text-wrap: balance;
		word-break: break-word;
		font-size: var(--size-4);

		&:hover {
			color: var(--iris-11);
		}
	}

	.specs {
		display: grid;
		gap: var(--space-1);
		min-width: 20ch;
		font-size: var(--size-3);
		line-height: var(--line-height--compact);
	}

	.ingredient {
		color: var(--mauve-12);

		&:hover {
			color: var(--iris-11);
		}
	}

	@container (width < 750px) {
		.hiddenSmall {
			display: none;
		}
	}
}
