@layer ui {
	.popover {
		--offset: var(--space-1);
	}

	.surface {
		--spacing: var(--space-2);

		width: 100%;
		text-align: initial;
		padding-inline: var(--spacing);
		background-color: var(--mauve-1);
		color: var(--mauve-12);
		border-radius: var(--radius--large);
		box-shadow: var(--shadow--high);
		border: 1px solid var(--glass--border-color);
		overflow: auto;
		overscroll-behavior: contain;
	}

	.options {
		--est-item-height: 40px;

		max-height: calc(var(--est-item-height) * 5 + var(--spacing) * 2);
		overflow-y: auto;
		padding-block: var(--spacing);
	}

	.header {
		display: grid;
		margin-inline: var(--spacing);
		border-bottom: 1px solid var(--mauve-6);
		padding-block: var(--spacing);
	}

	.footer {
		display: grid;
		margin-inline: var(--spacing);
		border-top: 1px solid var(--mauve-6);
		padding-block: var(--spacing);
	}

	.item {
		display: flex;
		gap: var(--gap);
		padding-inline: var(--spacing);
		cursor: pointer;
		border-radius: var(--radius);
		transition: background-color, color;
		transition-duration: var(--transition-duration--short);
		color: var(--mauve-12);
		content-visibility: auto;
		contain-intrinsic-size: auto var(--est-item-height);

		&:hover,
		&:focus {
			background-color: hsl(from var(--mauve-7) h s l / 0.15);
		}

		&.isHighlighted {
			background-color: hsl(from var(--iris-7) h s l / 0.2);
		}

		&.isSelected {
			background-color: hsl(from var(--iris-7) h s l / 0.75);
		}
	}

	.item:has(~ .isHighlighted):hover,
	.isHighlighted ~ .item:hover {
		background-color: transparent;
	}

	.label {
		flex: 1 1 auto;
		min-width: 0;
		padding-block: var(--space-2);
	}

	.icon {
		flex: 0 0 auto;
		align-self: center;
		color: var(--mauve-12);
	}

	.optionLabel {
		width: 100%;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.description {
		margin-top: var(--space-0);
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}
