@layer component {
	.base {
		min-width: var(--control-width--small);
		width: 100%;
		max-width: min(var(--control-width), 100svw);
	}

	.contain {
		align-self: stretch;
	}

	.button {
		width: 100%;
		text-align: left;
		cursor: text;
		line-height: var(--line-height--compact);

		&:not(.hasValue) {
			color: var(--mauve-10);
		}
	}
}
