@layer component {
	.base {
		min-width: var(--control-width--small);
		width: 100%;
		max-width: min(var(--control-width), 100dvw);
	}

	.contain {
		align-self: stretch;
	}

	.button {
		width: 100%;
		text-align: left;
		justify-content: flex-start;
		cursor: text;

		&:not(.hasValue) {
			color: var(--mauve-10);
		}
	}
}
