@layer feature {
	.card {
		padding: var(--gap);
		background-color: var(--mauve-2);
		border-radius: var(--radius--large);
		border: 1px solid var(--shine);
		box-shadow: var(--shadow--low);
		isolation: isolate;
		width: var(--recipe-card-width);
		max-width: 100%;
		transition: border-color var(--transition-duration);
	}
}
