@layer ui {
	.icon {
		--icon-color: currentColor;
		--icon-length: var(--jsxIconLength, 1em);

		display: inline-block;
		width: var(--icon-length);
		height: var(--icon-length);
		aspect-ratio: 1 / 1;
		color: var(--icon-color);
		fill: var(--icon-color);
		vertical-align: middle;
		transition-property: color, fill;
		transition-duration: var(--transition-duration);
	}
}
