@layer layout {
	.container {
		display: grid;
		grid-template:
			"navigation" auto
			"main" 1fr;
		flex: 1 1 auto;
	}

	.navigation {
		grid-area: navigation;
	}

	.barNavigation {
		height: var(--bar-navigation--height);
		position: sticky;
		bottom: 0;
		flex: 0 0 auto;
		padding-right: env(safe-area-inset-right);
		padding-left: env(safe-area-inset-left);
		z-index: var(--z-navigation);

		@media (min-width: 814px) {
			display: none;
		}
	}

	.main {
		display: grid;
		grid-area: main;
		padding-left: env(safe-area-inset-left);
		padding-right: env(safe-area-inset-right);
	}
}
