@layer composition {
	.dialog {
		--inline-inset: var(--gap--large);

		width: min(calc(var(--recipe-card-width) + 2 * var(--inline-inset)), 100%);
		padding-inline: var(--gap);
	}

	.heading {
		display: flex;
		align-items: center;
		gap: var(--space-2);
		padding: var(--space-2) var(--space-4) var(--space-4);
	}

	.results {
		display: grid;
		justify-content: center;
		grid-template-columns: minmax(0, 1fr);
		gap: var(--gap--large);
		padding-block: var(--gap--large);
		overflow: auto;
		scrollbar-gutter: stable;
	}

	.status {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		gap: 0 var(--gap--large);
	}

	.list {
		justify-content: center;
		gap: var(--gap);
	}

	.shortcut {
		justify-self: end;
		transition: opacity var(--transition-duration--short);

		&.disabled {
			opacity: 0.5;
		}

		@media (hover: none) and (pointer: coarse) {
			display: none;
		}
	}

	.actions {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: var(--gap);
	}

	.empty {
		width: var(--recipe-card-width);
		max-width: 100%;
		aspect-ratio: var(--recipe-card-ratio);
		height: auto;
	}
}
