@layer component {
	.base {
		--h: var(--control-height);
		min-width: var(--control-width--small);
		width: 100%;
		max-width: min(var(--control-width), 100dvw);

		&.compact {
			--h: var(--control-height--small);
		}
	}

	.contain {
		align-self: stretch;
	}

	.input {
		padding-right: var(--h);
		max-width: 100%;
	}

	.actions {
		position: absolute;
		inset: 1px 1px 1px auto;
		display: flex;
		align-items: stretch;
		gap: var(--space-2);

		.base:hover &,
		.base:focus-within & {
			z-index: 1;
		}
	}

	.toggle {
		--r: var(--radius);
		border-left: 1px solid var(--mauve-6);
		flex: 0 0 auto;
		border-radius: 0 var(--r) var(--r) 0;
		width: var(--h);

		&:hover {
			color: var(--mauve-12);
			background-color: var(--mauve-3);
		}

		&.rounded {
			--r: calc(var(--button-height) / 2);
		}

		&.compact {
			text-indent: -0.2em;
		}
	}

	.icon {
		transition-property: transform;
		transition-duration: var(--transition-duration);

		&.isOpen {
			transform: scaleY(-1);
		}
	}

	.clear {
		--o: 0.2;
		align-self: center;
		backdrop-filter: blur(2px);
		background-color: hsl(from var(--mauve-12) h s l / var(--o));
		border: 1px solid hsl(from var(--mauve-12) h s l / calc(var(--o) * 1.1));
		color: var(--mauve-12);
		width: 1rem;
		height: 1rem;

		&:hover {
			--o: 0.3;
		}

		&:active:hover {
			opacity: 0.8;
		}
	}

	.reset {
		justify-self: center;
	}

	.create {
		display: flex;
		width: 100%;
		justify-content: start;
		padding: var(--space-1) var(--space-2);
		font-weight: 500;
		color: var(--mauve-12);
		text-align: left;
		line-height: var(--line-height--compact);

		border-radius: var(--radius);
		transition: background-color, color;
		transition-duration: var(--transition-duration--short);

		&:hover,
		&:focus-visible {
			background-color: var(--iris-6);
		}
	}
}
