@layer composition {
	.dialog {
		--offset-top: 10svh;
		--inline-inset: var(--gap--large);

		width: min(calc(var(--recipe-card-width) + 2 * var(--inline-inset)), 100%);
		margin-block: var(--offset-top) auto;
	}

	.lightbox {
		--r: calc(var(--radius--huge) * 1.25);

		display: grid;
		grid-template-rows: auto 1fr auto;

		max-height: calc(100svh - var(--offset-top, 10svh) - var(--gap));
		border-radius: var(--r) var(--r) var(--radius--large) var(--radius--large);
		padding: var(--space-2);
	}

	.header {
		border-bottom: 1px solid var(--mauve-6);
		padding-bottom: var(--gap--tiny);
	}

	.results {
		display: grid;
		justify-content: center;
		gap: var(--gap--large);
		padding-block: var(--gap--large);
		overflow: auto;
		scrollbar-gutter: stable;
	}

	.list {
		justify-content: center;
	}

	.search {
		position: relative;
	}

	.shortcut {
		justify-self: end;
		transition: opacity var(--transition-duration--short);

		&.disabled {
			opacity: 0.5;
		}

		@media (hover: none) and (pointer: coarse) {
			display: none;
		}
	}

	.footer {
		padding-top: var(--gap--tiny);
		border-top: 1px solid var(--mauve-6);
	}

	.actions {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: var(--gap);
	}

	.empty {
		width: var(--recipe-card-width);
		max-width: 100%;
		aspect-ratio: var(--recipe-card-ratio);
		height: auto;
	}

	.searchIcon {
		position: absolute;
		left: var(--space-4);
		top: 50%;
		transform: translateY(-50%);
		pointer-events: none;
		z-index: 1;
	}

	.searchInput {
		padding-inline: var(--space-7);
	}

	.esc {
		position: absolute;
		right: var(--space-4);
		top: 50%;
		transform: translateY(-50%);
		pointer-events: none;
	}
}
