@layer ui {
	.logo {
		font-size: var(--size-6);
		font-weight: 700;
		color: var(--mauve-12);

		@media (max-width: 400px) {
			font-size: var(--size-5);
		}
	}

	.beta {
		vertical-align: super;
	}
}
