@layer layout {
	.container {
		display: grid;
		gap: var(--gap);
		padding-top: var(--app-inset);
		padding-bottom: var(--gap);
		padding-inline: var(--app-inset);
		grid-template:
			"header" auto
			"navigation" auto
			"page" 1fr;
	}

	.navigation {
		grid-area: navigation;
	}
}
