@layer feature {
	.list {
		display: flex;
		flex-wrap: wrap;
		align-items: start;
		gap: var(--gap--large);
		list-style: none;
		margin: 0;
		padding: 0;
	}

	.item {
		content-visibility: auto;
		contain-intrinsic-size: auto var(--recipe-card-width) auto
			calc(var(--recipe-card-height) + 24px);
		overflow-clip-margin: 1rem;
	}

	.skeletonCard {
		display: grid;
		gap: var(--space-1);
		width: var(--recipe-card-width);
		max-width: 100%;
	}

	.cardSkeleton {
		max-width: 100%;
		border-radius: var(--radius--large);
	}

	.skeletonActions {
		height: var(--space-5);
	}
}
