@layer feature {
	.list {
		display: grid;
		gap: var(--gap);

		&.cardLayout {
			display: flex;
			overflow: auto;
			margin-inline: calc(var(--app-inset) * -1);
			padding-inline: var(--app-inset);
			padding-bottom: var(--gap);
			scroll-snap-type: x mandatory;
			mask-image: linear-gradient(
				to right,
				transparent 0px,
				black var(--app-inset),
				black calc(100% - var(--app-inset)),
				transparent 100%
			);
			mask-repeat: no-repeat;
		}
	}

	.card {
		scroll-snap-align: center;
		display: flex;
		flex-direction: column;
		padding: var(--gap) var(--gap) var(--gap--tiny);
		background-color: var(--mauve-2);
		border-radius: var(--radius--large);
		border: 1px solid var(--shine);
		box-shadow: var(--shadow--low);

		.cardLayout & {
			max-width: 100cqw;
			flex: 1 0 auto;
		}
	}

	.actions {
		display: flex;
		flex-wrap: wrap;
		gap: var(--space-0);
		align-items: center;
		margin-left: calc(var(--space-2) * -1);
	}

	.action {
		display: flex;
		align-items: center;
		font-size: var(--size-1);

		&:not(:hover, :focus) {
			color: var(--mauve-11);
		}
	}

	.content {
		display: flex;
		flex: 1 1 auto;
		align-items: start;
		gap: var(--space-3);
		border-bottom: 1px solid var(--mauve-4);
		padding-bottom: var(--space-3);
		margin-bottom: var(--space-2);
		transition: border-color var(--transition-duration);
	}

	.primary {
		display: grid;
		gap: var(--space-3);
		flex: 1 1 auto;
	}

	.icon {
		color: var(--mauve-7);
	}
}
