@layer composition {
	.nav {
		--label-offset: var(--space-4);
		--inset: var(--space-2);
	}

	.list {
		display: flex;
		justify-content: center;
		gap: var(--space-6);
		background-color: var(--mauve-1);
		border-top: 1px solid var(--mauve-6);
		padding-top: var(--inset);
		padding-bottom: calc(var(--inset) + var(--label-offset));
		transition-property: background-color;
		transition-duration: var(--transition-duration--short);
	}

	.label {
		position: absolute;
		inset: calc(100% + 2ex) 0 auto;
		display: flex;
		justify-content: center;
		text-align: center;
		color: var(--iris-11);
		font-size: var(--size-0);
	}

	.button {
		height: 2rem;
	}
}
