@layer composition {
	.background {
		overflow: hidden;
		position: absolute;
		inset: 0;
		background-color: var(--iris-4);
	}

	.bg {
		--bgc: var(--iris-9);
		--fade: hsl(from var(--bgc) h s l / 0);

		position: absolute;
		opacity: 0.75;
		pointer-events: none;
	}

	.back,
	.front {
		background-image: radial-gradient(
			closest-side,
			var(--bgc) 40%,
			var(--fade)
		);
		transform: rotate(0) translate(20%) rotate(0);
	}

	.back {
		width: 250%;
		height: 100%;
		left: -25%;
		top: -25%;
	}

	.middle {
		height: 70%;
		bottom: -20%;
		inset-inline: -20%;
		background-image: linear-gradient(to top, var(--bgc) 40%, var(--fade));
	}

	.front {
		--bgc: var(--iris-4);

		width: 80%;
		height: 120%;
		bottom: -20%;
		right: -25%;
	}
}
