@layer component {
	.sidebar {
		position: sticky;
		top: 0;
		height: 100lvh;
		background-color: hsl(from var(--mauve-2) h s l / 0.5);
		border-right: 1px solid hsl(from var(--mauve-6) h s l / 0.5);
		transition-property: background-color;
		transition-duration: var(--transition-duration--short);

		display: grid;
		grid-template-rows: auto auto 1fr auto;
	}

	.block {
		display: flex;
		flex-direction: column;
		border-bottom: 1px solid hsl(from var(--mauve-6) h s l / 0.5);
		padding: var(--space-4) var(--space-5);
	}

	.overscroll {
		overflow: auto;
	}

	.header {
		display: block;
		padding-block: var(--space-5);
	}

	.switcher {
		min-height: 28px; /* Aligns with the Clerk button height */
		margin: -8px;
	}

	.footer {
		flex-direction: row;
		gap: var(--gap--tiny);
		min-height: 61px;
		border-bottom: none;
	}

	:global(.cl-userButtonBox) {
		.sidebar & {
			flex-direction: row-reverse !important;
			gap: 0 !important;
		}
	}

	:global(.cl-userButtonOuterIdentifier) {
		.sidebar & {
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
		}
	}
}
