@layer layout {
	.main {
		display: grid;
		place-items: center;
	}

	.content {
		display: grid;
		text-align: center;
		gap: var(--space-8);
	}

	.heading {
		text-align: center;
		font-size: var(--size-9);
	}
}
