@layer component {
	.popover {
		min-width: 14rem;
		margin-inline: var(--space-1);

		&[popover] {
			--area: span-bottom right;
			--fallback:
				--context-menu-flip-block, --context-menu-flip-inline,
				--context-menu-flip-both;
			align-self: start;
			transition:
				display 0.2s allow-discrete,
				overlay 0.2s allow-discrete;
		}
	}

	.content {
		display: grid;
		gap: var(--space-2);
		padding: var(--space-2);
		border-radius: var(--radius--large);
		box-shadow: var(--shadow--high);

		border: 1px solid transparent;
		background-image:
			linear-gradient(var(--mauve-2), var(--mauve-2)),
			linear-gradient(to top, var(--iris-8), var(--mauve-6));
		background-origin: padding-box, border-box;
		background-clip: padding-box, border-box;
	}

	.heading {
		padding: var(--space-1) var(--space-2);
		border-bottom: 1px solid var(--mauve-4);
		padding-bottom: var(--space-2);
	}

	.footer {
		padding: var(--space-1) var(--space-2);
		border-top: 1px solid var(--mauve-4);
		padding-top: var(--space-2);
	}

	.open {
		background-color: hsl(from var(--button-color) h s 90%);
		color: hsl(from var(--button-color) h s 20%);
	}
}

@position-try --context-menu-flip-block {
	position-area: span-top right;
	align-self: end;
}

@position-try --context-menu-flip-inline {
	position-area: span-bottom left;
	align-self: start;
}

@position-try --context-menu-flip-both {
	position-area: span-top left;
	align-self: end;
}
