@layer feature {
	.article {
		--g: var(--gap--large);

		display: grid;
		grid-template-rows: 1fr auto;
		container: article / inline-size;
		gap: var(--g);
	}

	.header {
		padding-block: calc(var(--g) + var(--gap--large)) var(--gap--large);
	}

	.description {
		margin-top: var(--gap--large);
	}

	.author {
		margin-top: var(--space-1);
	}

	.divider {
		margin-bottom: var(--space-6);
	}

	.name {
		@container article (width > 500px) {
			font-size: var(--size-9);
		}
	}

	.icon {
		fill: var(--iris-8);
		flex: 0 0 auto;
	}

	.tools {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		gap: var(--gap) var(--gap--large);
	}
}
