@layer feature {
	.grid {
		width: var(--control-width--large);
		max-width: 100%;
	}

	.card {
		padding: var(--gap);
		border-radius: var(--radius);
		background-color: var(--mauve-2);
		z-index: 1;
	}

	.arrow {
		place-self: center;
		color: var(--mauve-12);
		margin-top: calc(var(--space-5) * -1);
	}

	.price {
		padding: var(--gap);
		border: 1px dashed var(--mauve-7);
		border-radius: var(--radius);
	}
}
