@layer ui {
	.group {
		display: grid;
		grid-auto-flow: column;

		> :is(button, a) ~ :is(button, a) {
			margin-left: -1px;
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
		}

		> :is(button, a):has(~ :is(button, a)) {
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
		}
	}

	.equalWidth {
		grid-auto-columns: 1fr;
	}
}
