@layer ui {
	.kbd {
		display: inline-flex;
		gap: 1px;
		align-items: center;
	}

	.key {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		min-width: calc(1ch + var(--space-1) * 2);
		height: 1.5em;
		padding: 0 var(--space-1);
		font-size: var(--size-1);
		font-weight: 500;

		color: var(--c);
		border: 1px solid var(--bc);
		border-radius: var(--radius--small);

		&.default {
			--c: var(--mauve-12);
			--bc: var(--mauve-6);
			background-color: var(--mauve-3);
			box-shadow: 0 1px 0 var(--mauve-7);
		}

		&.ghost {
			--c: color-mix(in hsl, currentColor 75%, transparent);
			--bc: color-mix(in hsl, currentColor 25%, transparent);
			font-weight: 600;
		}

		transition: opacity var(--transition-duration);
		transition-delay: calc(sibling-index() * (16.667ms * 4));

		@starting-style {
			opacity: 0;
		}

		@media (hover: none) and (pointer: coarse) {
			opacity: 0;
		}

		&.isModifier {
			font-size: var(--size-2);
		}
	}
}
