@layer ui {
	.kbd {
		display: inline-flex;
		gap: var(--space-0);
		align-items: center;
	}

	.key {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		min-width: calc(1ch + var(--space-1) * 2);
		height: 1.5em;
		padding: 0 var(--space-1);

		font-size: var(--size-1);
		font-weight: 500;

		color: var(--mauve-12);
		background-color: var(--mauve-3);
		border: 1px solid var(--mauve-6);
		box-shadow: 0 1px 0 var(--mauve-7);
		border-radius: var(--radius--small);

		transition: opacity var(--transition-duration);
		/* biome-ignore lint/correctness/noUnknownFunction: This is real CSS, Biome. */
		transition-delay: calc(sibling-index() * (16.667ms * 4));

		@starting-style {
			opacity: 0;
		}

		@media (hover: none) and (pointer: coarse) {
			opacity: 0;
		}

		&.isModifier {
			font-size: var(--size-2);
		}
	}
}
