@layer feature {
	.entry {
		display: flex;
		gap: 0.5ch;
		font-size: var(--size-4);
		font-variant-numeric: tabular-nums;
		align-items: baseline;
		flex-wrap: wrap;
	}

	.node {
		flex: 0 0 auto;
	}

	.label {
		flex-shrink: 1;
		text-wrap: balance;
		word-break: break-word;

		&.isNew {
			color: var(--mauve-12);
		}
	}

	.toggle {
		color: var(--mauve-12);

		&:hover,
		&:focus-visible,
		&:has(+ [popover]:popover-open) {
			color: var(--iris-11);
		}
	}

	.badge {
		align-self: start;
	}

	.optional {
		color: var(--mauve-10);
		font-family: var(--font-sans-serif);
		font-size: var(--size-2);
		margin-left: 0.5ch;
	}
}
