@layer layout {
	.board {
		display: grid;
		grid-template-rows: auto 1fr auto;
	}

	.filtersSection {
		padding-block: var(--space-8);

		> * {
			max-width: 40rem;
			margin-inline: auto;
			width: 100%;
		}
	}

	.listSlot {
		--recipes-list-board-list-max-width: calc(
			3 *
			var(--recipe-card-width) +
			2 *
			var(--gap--large)
		);

		max-width: var(--recipes-list-board-list-max-width);
		margin-inline: auto;
		margin-top: var(--space-5);
		padding-bottom: calc(var(--space-9) + var(--app-inset));
		width: 100%;
	}

	.actionsSlot {
		position: sticky;
		bottom: var(--gap);
		z-index: var(--z-navigation);
	}
}
