@layer feature {
	.base {
		--padding: var(--space-4);
		display: grid;
		gap: var(--space-4);
		padding: var(--padding);
	}

	.recipes {
		display: grid;
		overflow: auto;
		grid-auto-flow: column;
		grid-auto-columns: min(calc(100% - var(--padding)), 400px);
		gap: var(--space-3);

		width: calc(100% + var(--padding) * 2);
		margin-inline: calc(var(--padding) * -1);
		padding-inline: var(--padding);
		scroll-snap-type: x proximity;
		mask-image: linear-gradient(
			to right,
			transparent 0px,
			black var(--padding),
			black calc(100% - var(--padding)),
			transparent 100%
		);
		mask-repeat: no-repeat;
	}

	.recipe {
		scroll-snap-align: center;
	}

	.headsup {
		flex: 1 1 auto;
	}

	.create {
		flex: 0 0 auto;
	}
}
