@layer composition {
	.dock {
		display: inline-flex;
		align-items: center;
	}

	.popoverHost {
		--slide-y: 0;

		inset: auto auto calc(anchor(bottom) - var(--space-2))
			calc(anchor(left) - var(--space-2));

		padding: 0;
		background: transparent;
		border: none;
		box-shadow: none;
	}

	.panel {
		position: relative;
		min-width: 14rem;
		max-width: calc(100svw - 2 * var(--gap));
		color: var(--mauve-12);
		border-radius: var(--space-4);
		overflow: hidden;
		padding: var(--space-2);
	}

	.background {
		position: absolute;
		inset: 0;
		z-index: 0;

		background-color: hsl(from var(--mauve-12) h s l / 0.2);
		backdrop-filter: blur(var(--space-2));
		border: 1px solid hsl(from var(--mauve-12) h s l / 0.1);
		border-radius: var(--space-4);
		box-shadow: var(--shadow--high);
	}

	.content {
		position: relative;
		z-index: 1;

		display: flex;
		flex-direction: column;
	}

	.actions {
		display: grid;
		gap: var(--space-2);
		padding-bottom: var(--space-2);
		margin-bottom: var(--space-2);
		border-bottom: 1px solid hsl(from var(--mauve-12) h s l / 0.15);
	}

	.list {
		display: flex;
		flex-direction: column;
		gap: var(--space-2);
		list-style: none;
		margin: 0;
		padding: 0;
	}

	.item {
		justify-content: flex-start;
		gap: var(--space-2);
		border-radius: var(--radius--medium);
	}

	.item:hover,
	.item:focus-visible {
		background-color: transparent;
		color: var(--mauve-12);
	}

	.label {
		flex: 1 1 auto;
		text-align: start;
	}

	.close {
		display: flex;
		justify-content: flex-start;
		padding-top: var(--space-2);
		margin-top: var(--space-2);
		border-top: 1px solid hsl(from var(--mauve-12) h s l / 0.15);
	}

	.morph {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		width: var(--size-3);
		height: var(--size-3);
	}
}
