@layer ui {
	.dialog {
		place-items: center;
		width: 100lvw;
		height: 100lvh;
		max-width: none;
		max-height: none;
		contain: strict;
		container: inline-size;
		position: fixed;
		inset: 0;
		background-color: transparent;
		z-index: var(--z-modal);
		border: none;
		padding: var(--gap);

		&[open] {
			display: grid;
		}

		&::backdrop {
			display: none;
		}
	}

	@property --from {
		syntax: "<color>";
		inherits: false;
		initial-value: color(display-p3 0.354 0.445 0.866);
	}

	@property --to {
		syntax: "<color>";
		inherits: false;
		initial-value: color(display-p3 0.864 0.364 0.539);
	}

	@keyframes gradient {
		to {
			--from: color(display-p3 0.862 0.415 0.298);
			--to: color(display-p3 0.426 0.694 0.426);
		}
	}

	@media (prefers-reduced-motion: no-preference) and (min-width: 750px) {
		:global(html) {
			background-image: linear-gradient(
				to right in oklab,
				var(--from),
				var(--to)
			);
			animation: gradient 2s linear infinite alternate;

			&:not(:has(.dialog[open])) {
				animation-play-state: paused;
			}
		}
	}

	:global(body) {
		@media (prefers-reduced-motion: no-preference) {
			transition-property: scale, filter, opacity, background-color;
			transition-duration: var(--transition-duration);

			> * {
				transition: filter var(--transition-duration);
			}
		}

		&:has(.dialog[open]) {
			overflow: hidden;

			> :not(.dialog) {
				filter: blur(3px);

				@supports (not (filter: blur(3px))) {
					opacity: 0.5;
				}
			}

			@media (prefers-reduced-motion: no-preference) and (min-width: 750px) {
				contain: strict; /* Hack to enforce hiding overflow under border-radius */
				scale: 0.98;
				filter: brightness(0.9);
				border-radius: var(--radius--large);
			}
		}
	}
}
