@layer ui {
	.dialog {
		place-items: center;
		width: 100lvw;
		height: 100lvh;
		max-width: none;
		max-height: none;
		contain: strict;
		container: inline-size;
		position: fixed;
		inset: 0;
		background-color: transparent;
		z-index: var(--z-modal);
		border: none;
		padding: var(--gap);

		&[open] {
			display: grid;
		}

		&::backdrop {
			display: none;
		}
	}

	:global(#root) {
		@media (prefers-reduced-motion: no-preference) {
			transition-property: filter, opacity, background-color;
			transition-duration: var(--transition-duration);

			> * {
				transition: filter var(--transition-duration);
			}
		}

		&:has(.dialog[open]) {
			> :not(.dialog) {
				filter: blur(3px);

				@supports (not (filter: blur(3px))) {
					opacity: 0.5;
				}
			}

			@media (prefers-reduced-motion: no-preference) and (min-width: 750px) {
				filter: brightness(0.9);
			}
		}
	}
}
