@layer ui {
	.dialog {
		place-items: center;
		width: 100lvw;
		height: 100lvh;
		max-width: none;
		max-height: none;
		contain: strict;
		container: inline-size;
		position: fixed;
		inset: 0;
		background-color: transparent;
		z-index: var(--z-modal);
		border: none;
		padding: var(--gap);

		&[open] {
			display: grid;
		}

		&::backdrop {
			backdrop-filter: blur(var(--space-1));
			transition: opacity var(--transition-duration);
			transition-behavior: allow-discrete;

			@starting-style {
				opacity: 0;
			}
		}
	}
}
