@layer feature {
	.recipeName {
		display: inline-block;
		font-weight: 700;
		color: var(--mauve-12);
		text-wrap: balance;
		word-break: break-word;

		&:hover {
			color: var(--iris-11);
		}
	}

	.spec {
		font-size: var(--size-2);
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
	}

	.ingredient {
		color: var(--mauve-12);

		&:hover {
			color: var(--iris-11);
		}
	}
}
