@layer feature {
	.recipeName {
		display: inline-block;
		font-weight: 700;
		color: var(--mauve-12);
		text-wrap: balance;
		word-break: break-word;

		&:hover {
			color: var(--iris-11);
		}
	}

	.specs {
		display: grid;
		gap: var(--space-0);
		min-width: 20ch;
	}

	.spec {
		font-size: var(--size-2);
	}

	.ingredient {
		color: var(--mauve-12);

		&:hover {
			color: var(--iris-11);
		}
	}

	@container (width < 750px) {
		.hiddenSmall {
			display: none;
		}
	}
}
