@layer layout {
	.container {
		display: grid;
		gap: var(--gap);
		grid-template:
			"header" auto
			"content" 1fr;
	}

	.header {
		grid-area: header;
		display: flex;
		gap: var(--gap) var(--gap--large);
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
	}
}
