@layer component {
	.heading {
		/**
		 * Lifted from Clerk's stylesheet to blend into the modal.
		 */
		font-weight: 700;
		font-size: calc(0.8125rem * 17 / 13);
		line-height: 1.41176;
		margin-bottom: calc(var(--space-4) + 11px);
	}

	.settings {
		&:global(.cl-page:has(&)) {
			flex: 1 1 auto;
			place-self: stretch;
		}
	}
}
