@layer ui {
	.texture {
		contain: strict;

		&,
		&::after {
			display: block;
			position: absolute;
			inset: 0;
			pointer-events: none;
			user-select: none;
			border-radius: inherit;
		}

		&::after {
			content: "";
			background-image: url("/noise.png");
			background-repeat: repeat;
			opacity: 0.333;
			mask: linear-gradient(rgba(0, 0, 0, 0.333), rgba(0, 0, 0, 0.333));
		}
	}
}
