@layer ui {
	.texture {
		mask-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
		contain: strict;

		&,
		&::before,
		&::after {
			position: absolute;
			inset: 0;
			border-radius: inherit;
			pointer-events: none;
			user-select: none;
		}

		&::before,
		&::after {
			content: "";
			display: block;
		}

		&::before {
			background-color: var(--mauve-1);
		}

		&::after {
			background-image: url("/noise.png");
			background-repeat: repeat;
			opacity: 0.2;
		}
	}
}
