@layer layout {
	.frame {
		margin-top: var(--gap--large);

		@container (width < 450px) {
			margin-inline: calc(var(--app-inset) * -1);
		}
	}

	.actions {
		display: flex;
		justify-content: center;
		margin-top: var(--gap--tiny);
	}
}
