@layer component {
	.base {
		display: grid;
		gap: var(--gap);
		grid-template-rows: 1fr auto;
		width: 100%;
		margin-inline: auto;
		scroll-margin-top: var(--gap--small);
	}

	.search {
		display: grid;
		justify-content: center;
		padding: var(--space-2);
	}

	.clear {
		position: absolute;
		right: var(--space-4);
		top: calc(50% - 0.5rem);
	}

	.sticky {
		--offset: calc(var(--gap) + var(--bar-navigation--height));

		margin-inline: calc(var(--app-inset) / 2 * -1);
		justify-self: center;
		z-index: 1;
		display: grid;
		gap: var(--space-1);
		position: sticky;
		bottom: var(--offset);

		@media (min-width: 814px) {
			--offset: var(--gap);
		}
	}

	.statusContainer {
		display: flex;
		justify-content: center;
		contain: inline-size;
		padding-inline: var(--gap);
		text-align: center;
	}

	.status {
		padding: var(--space-1) var(--space-2);
		background-color: var(--mauve-2);
		border-radius: var(--radius--full);
		box-shadow: var(--shadow);
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
	}
}
