@layer feature {
	.button {
		all: unset;
		cursor: pointer;
		font: inherit;
		border-radius: var(--radius--full);
		color: var(--mauve-12);

		&:hover,
		&:focus {
			background-color: var(--mauve-6);
		}
	}
}
