@layer ui {
	.divider {
		--divider-width: 100%;

		display: grid;
		align-items: center;
		width: var(--divider-width);
		max-width: 100%;
		color: var(--mauve-11);

		&::before,
		&:where(.labeled)::after {
			content: "";
			height: 1px;
			background-color: var(--mauve-6);
		}

		&:where(.labeled) {
			grid-template-columns: 1fr auto 1fr;
			gap: var(--space-2);
		}
	}

	.label {
		text-align: center;
	}
}
