@layer ui {
	.chip {
		--inset: min(calc(var(--jsxFontSize, 0) / 2), var(--gap--large));

		display: inline-block;
		padding: calc(var(--inset) / 2) var(--inset);

		color: var(--c);
		background-color: var(--bgc);
		border-radius: var(--radius--large);
		box-shadow: var(--shadow--low);
		text-align: left;
	}

	.accent {
		--c: var(--iris-12);
		--lc: var(--iris-11);
		--bgc: var(--iris-8);
	}

	.regular {
		--c: var(--iris-12);
		--lc: var(--iris-11);
		--bgc: var(--iris-2);
	}

	.light {
		--c: var(--mauve-11);
		--lc: var(--mauve-11);
		--bgc: var(--mauve-3);
	}

	.red {
		--c: var(--red-12);
		--lc: var(--red-11);
		--bgc: var(--red-8);
	}

	.heavy {
		--c: var(--mauve-1);
		--lc: var(--mauve-2);
		--bgc: var(--mauve-12);
	}

	.label {
		display: block;
		font-size: max(0.5em, 11px);
		color: var(--lc);
	}
}
