@layer composition {
	.header {
		display: grid;
		/**
		 * min-height to respect safe-area-inset-top
		 */
		min-height: var(--app-header--height);
		position: absolute;
		inset: 0 0 auto;
		z-index: var(--z-navigation);
		contain: content;
	}

	.container {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		gap: var(--gap);
		padding-inline: var(--space-5);
		padding-block: var(--space-5);
	}

	.auth {
		display: flex;
		justify-content: flex-end;
		flex-wrap: wrap-reverse;
		gap: var(--gap--tiny);
	}
}
