@layer composition {
	.header {
		display: grid;
		/**
		 * min-height to respect safe-area-inset-top
		 */
		min-height: var(--app-header--height);
		position: absolute;
		inset: 0 0 auto;
		z-index: var(--z-navigation);
		overflow-clip-margin: 5rem;
		contain: strict;
		container-type: inline-size;
	}

	.container {
		display: grid;
		grid-template-columns: 1fr auto 1fr;
		grid-template-areas: "logo nav auth";
		align-items: start;
		gap: var(--gap);
		padding-inline: var(--space-5);
		padding-block: var(--space-5);
	}

	.logo {
		grid-area: logo;
	}

	.nav {
		grid-area: nav;
	}

	.auth {
		grid-area: auth;
		display: flex;
		justify-content: flex-end;
		flex-wrap: wrap-reverse;
		gap: var(--gap--tiny);
	}

	@container (max-width: 640px) {
		.container {
			grid-template-columns: auto 1fr;
			grid-template-areas:
				"logo auth"
				"nav  nav";
			row-gap: var(--space-2);
		}

		.nav {
			justify-self: center;
		}
	}
}
