@layer composition {
	.header {
		display: grid;
		min-height: calc(var(--app-header--height) + env(safe-area-inset-top));
		position: absolute;
		inset: 0 0 auto;
		z-index: var(--z-navigation);
		overflow-clip-margin: 5rem;
		contain: strict;
		container-type: inline-size;
	}

	.container {
		padding: var(--space-5) var(--app-inset);
	}

	.nav {
		grid-area: nav;
	}

	.auth {
		display: flex;
		justify-content: flex-end;
		flex-wrap: wrap-reverse;
		gap: var(--gap--tiny);
	}
}
