@layer feature {
	.input {
		background-color: var(--glass--bg);
		border-color: var(--glass--border-color);

		&:has(:hover, :focus-within, :focus) {
			background-color: hsl(from var(--mauve-1) h s l / 0.78);
		}
	}
}
