@layer ui {
	@property --jsxGap {
		syntax: "*";
		initial-value: 0;
		inherits: false;
	}

	@property --jsxAlignContent {
		syntax: "*";
		initial-value: start;
		inherits: false;
	}

	@property --jsxAlignItems {
		syntax: "*";
		initial-value: normal;
		inherits: false;
	}

	@property --jsxJustifyContent {
		syntax: "*";
		initial-value: normal;
		inherits: false;
	}

	@property --jsxJustifyItems {
		syntax: "*";
		initial-value: normal;
		inherits: false;
	}

	.grid {
		display: grid;
		gap: var(--jsxGap);
		align-content: var(--jsxAlignContent);
		align-items: var(--jsxAlignItems);
		justify-content: var(--jsxJustifyContent);
		justify-items: var(--jsxJustifyItems);
	}
}
