@layer component {
	.lightbox {
		display: grid;
		grid-template:
			"alert" 1fr
			"notice" auto
			"actions" auto;

		max-height: 100%;
		min-height: 0;
		word-wrap: break-word;
		padding: var(--gap--tiny);
		color: var(--mauve-11);
	}

	.contain {
		grid-area: alert;
		background-color: var(--mauve-2);
		border-top-left-radius: inherit;
		border-top-right-radius: inherit;
		overflow: auto;
		min-height: 0;
		box-shadow: var(--shadow--low);
	}

	.heading {
		padding: var(--gap);
		position: sticky;
		top: 0;
		background-color: inherit;
		z-index: 1;
		color: var(--mauve-12);
	}

	.content {
		padding: 0 var(--gap) var(--gap);
	}

	.notice {
		display: flex;
		align-items: baseline;
		gap: var(--gap--small);
		padding: var(--gap--small) var(--gap) calc(var(--gap--small) + 2px);
		background-color: var(--red-4);
		color: var(--red-12);
		border-top: 1px solid var(--red-5);
		border-bottom-right-radius: inherit;
		border-bottom-left-radius: inherit;
		box-shadow: var(--shadow--low);
	}

	.icon {
		flex: 0 0 auto;
		top: 0.1lh;
	}

	.actions {
		grid-area: actions;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		gap: var(--gap--small);
		margin-top: var(--gap--small);
	}
}
