@layer composition {
	.main {
		display: grid;
		grid-template:
			"hero" 1fr
			"content" auto;
		min-height: 100lvh;
		padding: var(--gap);
		position: relative;
		isolation: isolate;
		overflow-x: clip;

		@media (min-width: 600px) {
			padding: var(--gap--large);
		}
	}

	.hero {
		display: grid;
		gap: var(--gap--huge) var(--gap--large);
		align-items: center;
		grid-area: hero;
		padding-block: var(--gap--huge);
		position: relative;

		@media (min-width: 960px) {
			grid-template-columns: minmax(0, 1fr) auto;
		}
	}

	.aside {
		justify-self: center;

		@media (min-width: 960px) {
			justify-self: end;
		}
	}

	.content {
		grid-area: content;
		position: relative;
	}

	.heading {
		max-width: 20ch;
		text-wrap: balance;
		font-weight: 300;
		color: var(--iris-12);
		font-size: var(--size-8);
		line-height: 1;

		@media (min-width: 600px) {
			font-size: var(--size-9);
		}
	}

	.mark {
		position: relative;
		font-weight: inherit;
		text-decoration: underline solid var(--iris-10);
	}
}
