@layer composition {
	.main {
		display: grid;
		grid-template:
			"hero" 1fr
			"content" auto;
		min-height: 100lvh;
		position: relative;
		isolation: isolate;
		overflow-x: clip;
		container: hero / inline-size;
	}

	.backdrop {
		grid-area: hero;
		position: absolute;
		inset: 0;
	}

	.container {
		display: flex;
		padding-top: var(--app-header--height);
		padding-inline: var(--gap--large);

		@container hero (width > 700px) {
			padding-inline: var(--gap--huge);
		}
	}

	.hero {
		display: grid;
		grid-template-columns: minmax(0, 1fr);
		gap: var(--gap--huge) var(--gap--large);
		align-items: center;
		grid-area: hero;
		padding-block: var(--gap--huge);
		margin-inline: auto;
		max-width: var(--container);
		position: relative;
		justify-items: center;

		@container hero (width > 1100px) {
			grid-template-columns: minmax(0, 1fr) auto;
		}
	}

	.aside {
		max-width: 100%;
		justify-self: center;

		@container hero (width > 1100px) {
			justify-self: end;
		}
	}

	.content {
		grid-area: content;
		position: relative;
		padding-bottom: var(--gap--large);
		padding-inline: var(--gap--large);

		@container hero (width > 700px) {
			padding-inline: var(--gap--huge);
		}
	}

	.heading {
		max-width: 20ch;
		padding-block: var(--space-9);
		text-wrap: balance;
		font-weight: 300;
		color: var(--iris-12);
		font-size: clamp(var(--size-8), 1rem + 6cqi, var(--size-9));
		line-height: 1;
		text-shadow: 0 0 1.5em black;

		@container hero (width <= 1100px) {
			text-align: center;
		}
	}

	.mark {
		position: relative;
		font-weight: inherit;
		text-decoration: underline solid var(--iris-10);
	}
}
