@layer composition {
	.main {
		display: grid;
		grid-template:
			"hero" 1fr
			"content" auto;
		min-height: 100lvh;
		padding: var(--gap);

		@media (min-width: 600px) {
			padding: var(--gap--large);
		}
	}

	.hero {
		display: grid;
		align-items: center;
		grid-area: hero;
		padding-block: var(--gap--huge);
		position: relative;
	}

	.content {
		grid-area: content;
	}

	.tagline {
		font-weight: 500;
	}

	.lower {
		color: var(--iris-11);
	}

	.heading {
		max-width: 20ch;
		text-wrap: balance;
		font-weight: 300;
		color: var(--iris-12);
		font-size: var(--size-8);
		line-height: 1;

		@media (min-width: 600px) {
			font-size: var(--size-9);
		}
	}
}
