@layer ui {
	.base {
		--table-padding-block: var(--space-3);
		--table-padding-inline: var(--space-4);
		--table-gap: var(--space-2);
		--table-background-color: var(--mauve-1);
		--table-radius: var(--radius--large);

		container: table / inline-size;
		contain: layout;

		@media (max-width: 813px) {
			overflow: auto hidden;
			margin-inline: calc(var(--app-inset) * -1);
			padding-inline: var(--app-inset);
		}
	}

	.table {
		margin-block: calc(var(--table-gap) * -1);
		border-spacing: 0 var(--table-gap);
		border-collapse: separate;
	}

	.thead {
		@media (min-width: 814px) {
			position: sticky;
			top: var(--table-gap);
			z-index: 1;
		}
	}

	.cell {
		line-height: var(--line-height--compact);
		text-align: left;
		padding-block: var(--table-padding-block);
		padding-inline: var(--table-padding-inline);
	}

	.td {
		background-color: var(--table-background-color);
		border-block: 1px solid var(--mauve-4);

		&:first-child {
			border-top-left-radius: var(--table-radius);
			border-bottom-left-radius: var(--table-radius);
			border-left: 1px solid var(--mauve-4);
		}

		&:last-child {
			border-top-right-radius: var(--table-radius);
			border-bottom-right-radius: var(--table-radius);
			border-right: 1px solid var(--mauve-4);
		}
	}

	.th {
		font-weight: 600;
		white-space: nowrap;
		transition: color var(--transition-duration);
		padding-block: var(--space-3);
		color: var(--mauve-12);
		border-top: 1px solid var(--shine);
		background-color: var(--mauve-2);

		@supports (backdrop-filter: blur(var(--size-1))) {
			background-color: hsl(from var(--mauve-2) h s l / 50%);
			backdrop-filter: blur(var(--size-1));
		}

		&:first-child {
			border-top-left-radius: var(--radius--full);
			border-bottom-left-radius: var(--radius--full);
			border-left: 1px solid var(--shine);
		}

		&:last-child {
			border-top-right-radius: var(--radius--full);
			border-bottom-right-radius: var(--radius--full);
		}
	}

	.label {
		display: inline-flex;
		align-items: center;
		gap: var(--space-1);
	}
}
