@layer feature {
	.base {
		--o: var(--gap);

		display: grid;
		gap: var(--gap--large);
		contain: layout;
		container-type: inline-size;
		margin-inline: calc(var(--o) * -1);

		@container (width > 700px) {
			grid-template-columns: 1fr 1fr;
			align-items: end;
		}

		@container (width > 850px) {
			--o: var(--gap--large);
		}
	}

	.primary {
		display: grid;
		gap: var(--gap);
		position: sticky;
		bottom: var(--gap);
	}

	.card {
		background-color: var(--mauve-2);
		padding: var(--o);
		border-radius: var(--radius--large);
		box-shadow: var(--shadow);
	}

	.heading {
		display: flex;
		justify-content: space-between;
		gap: var(--o);
		margin-bottom: var(--gap);
	}

	.icon {
		fill: var(--mauve-8);
		flex: 0 0 auto;
	}

	.servings {
		display: flex;
		flex-wrap: wrap;
		gap: var(--gap--tiny);
		align-items: center;
	}

	.count {
		font-variant-numeric: tabular-nums;
	}
}
