/** biome-ignore-all lint/style/noDescendingSpecificity: Disable broken rule */
@layer base {
	.reset {
		font-family: inherit;
		font-size: max(1rem, 16px);
		font-weight: 600;
		border: none;
		outline: none;
		background-color: transparent;
		color: var(--mauve-12);
	}

	.control {
		--r: var(--radius);
		--w: var(--control-width);
		--h: var(--control-height);

		max-width: 100%;
		width: var(--w);
		min-width: var(--control-min-width);

		transition-property: border-color, outline-color;
		transition-duration: var(--transition-duration);

		&:user-invalid {
			border-color: var(--red-11);

			&:focus {
				outline-color: var(--red-11);
			}
		}

		&:hover,
		&:focus,
		&:focus-within {
			z-index: 1;
		}

		&.fullWidth {
			--w: 100%;
		}

		&.compact {
			--w: var(--control-width--small);
		}

		&:not(.inline) {
			height: var(--h);
			background-color: var(--mauve-2);
			padding-inline: var(--control-inset);
			border-radius: var(--r);
			border: 1px solid var(--mauve-6);
			outline: var(--space-0) solid transparent;
			outline-offset: 0;

			&.regular {
				--h: var(--control-height);
			}

			&.small {
				--h: var(--control-height--small);
			}

			&.large {
				--h: var(--control-height--large);
			}

			&[readonly] {
				cursor: not-allowed;
				color: var(--mauve-11);
				background-color: var(--mauve-3);
			}

			&:not([aria-disabled="true"], [readonly], :user-invalid) {
				&:hover {
					border-color: var(--mauve-8);
				}

				&:focus,
				&:focus-within {
					outline-color: var(--iris-11);
					border-color: var(--iris-11);
				}
			}

			&[aria-disabled="true"] {
				cursor: not-allowed;
			}

			&.compact {
				--h: var(--control-height--small);
				padding-inline: var(--control-inset--compact);
			}

			&.rounded {
				--r: var(--radius--full);
			}
		}

		&.inline {
			border-bottom: 1px solid var(--mauve-8);

			&:not([aria-disabled="true"]):not(:user-invalid) {
				&:hover {
					border-color: var(--mauve-10);
				}

				&:focus,
				&:focus-within {
					border-color: var(--iris-11);
				}
			}
		}
	}
}
