@layer base {
	.control {
		--r: var(--radius);
		--w: var(--control-width);
		--h: var(--control-height);

		width: var(--w);
		height: var(--h);
		max-width: 100%;
		color: var(--mauve-12);
		background-color: var(--mauve-2);
		padding-inline: var(--control-inset);
		border-radius: var(--r);
		font-family: inherit;
		font-size: max(1rem, 16px);
		font-weight: 600;
		border: 1px solid var(--mauve-6);
		outline: 5px solid transparent;
		outline-offset: 0;
		transition-property: border-color, outline-color;
		transition-duration: var(--transition-duration);

		&.regular {
			--h: var(--control-height);
		}

		&.small {
			--h: var(--control-height--small);
		}

		&.large {
			--h: var(--control-height--large);
		}

		&:not([aria-disabled="true"]) {
			&:hover {
				border-color: var(--mauve-7);
			}

			&:focus {
				outline-color: var(--iris-11);
			}
		}

		&[aria-disabled="true"] {
			cursor: not-allowed;
		}

		&.fullWidth {
			--w: 100%;
		}

		&.compact {
			--w: var(--control-width--small);
		}

		&.rounded {
			--r: var(--radius--full);
		}
	}
}
