@layer composition {
	.footer {
		background-color: var(--mauve-2);
		color: var(--mauve-10);
	}

	.contain {
		padding: var(--space-5) var(--app-inset);
		padding-top: calc(var(--gap--huge) * 2);
	}

	.nav {
		display: flex;
		gap: var(--gap--huge);

		a {
			&:hover,
			&:focus {
				color: var(--mauve-12);
			}
		}
	}

	.settings {
		padding: var(--gap);
		border-radius: var(--radius);
		border: 1px dashed var(--mauve-6);
	}

	.commit {
		user-select: all;
		cursor: text;
		word-break: break-all;

		&:not(:hover) {
			color: var(--mauve-7);
		}
	}
}
