@layer feature {
	.item {
		--entry-delay: var(--transition-duration--slow);

		animation: entry var(--transition-duration--slow) backwards;
		animation-delay: var(--entry-delay);

		@supports (animation-delay: calc(sibling-index() * 1ms)) {
			animation-delay: calc(
				var(--entry-delay) +
				sibling-index() *
				(16.667ms * 2)
			);
		}
	}

	@keyframes entry {
		from {
			transform: translateY(calc(var(--space-2) * -1));
			opacity: 0;
		}
	}
}
