@layer feature {
	.item {
		--entry-delay: var(--transition-duration--slow);

		transition-property: transform, opacity;
		transition-duration: var(--transition-duration--slow);
		transition-delay: var(--entry-delay);

		@supports (transition-delay: calc(sibling-index() * 1ms)) {
			transition-delay: calc(
				var(--entry-delay) +
				sibling-index() *
				(16.667ms * 2)
			);
		}
	}

	@starting-style {
		.item {
			transform: translateY(calc(var(--space-2) * -1));
			opacity: 0;
		}
	}
}
